



<div
    data-module="bc-agenda"
    class="bc-agenda">
        <section class="bc-agenda__band">
            <header class="bc-agenda__band-header">
                <time class="bc-agenda__time" datetime="09:00">
                    09:00
                </time>
                
                    <h4 class="bc-agenda__band-title">Registration, tea and coffee</h4>
                
                
            </header>
        </section>
        <section class="bc-agenda__band">
            <header class="bc-agenda__band-header">
                <time class="bc-agenda__time" datetime="09:30">
                    09:30
                </time>
                
                    <h4 class="bc-agenda__band-title">Welcome and introduction</h4>
                
                
            </header>
        </section>
        <section class="bc-agenda__band">
            <header class="bc-agenda__band-header">
                <time class="bc-agenda__time" datetime="09:30/13:45">
                    09:30&ndash;13:45
                </time>
                
                    <h4 class="bc-agenda__band-title">This is a title</h4>
                
                
                    <div class="bc-agenda__description">
                        Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.
                    </div>
                
            </header>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="09:40">
                            09:40
                        </time>
                        <h5 class="bc-agenda__session-title">This is a session title</h5>
                        
                            <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                        
                    </header>
                    
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="10:20">
                            10:20
                        </time>
                        <h5 class="bc-agenda__session-title">This is a session title</h5>
                        
                            <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                        
                    </header>
                    
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="11:00">
                            11:00
                        </time>
                        <h5 class="bc-agenda__session-title">Tea and coffee break</h5>
                        
                    </header>
                    
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="11:00">
                            11:00
                        </time>
                        <h5 class="bc-agenda__session-title">This is a session title</h5>
                        
                            <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                        
                    </header>
                    
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="12:10">
                            12:10
                        </time>
                        <h5 class="bc-agenda__session-title">This is a session title</h5>
                        
                            <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                        
                    </header>
                    
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="12:50">
                            12:50
                        </time>
                        <h5 class="bc-agenda__session-title">Panel discussion</h5>
                        
                    </header>
                    
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="13:05">
                            13:05
                        </time>
                        <h5 class="bc-agenda__session-title">Lunch</h5>
                        
                    </header>
                    
                </section>
        </section>
        <section class="bc-agenda__band">
            <header class="bc-agenda__band-header">
                <time class="bc-agenda__time" datetime="13:55/17:45">
                    13:55&ndash;17:45
                </time>
                
                    <h4 class="bc-agenda__band-title">This is a title</h4>
                
                
                    <div class="bc-agenda__description">
                        Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.
                    </div>
                
            </header>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="09:40">
                            09:40
                        </time>
                        <h5 class="bc-agenda__session-title">Rotation 1</h5>
                        
                    </header>
                    
                        <div class="bc-agenda__workshops">
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                        </div>
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="14:55">
                            14:55
                        </time>
                        <h5 class="bc-agenda__session-title">Rotation 2</h5>
                        
                    </header>
                    
                        <div class="bc-agenda__workshops">
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                        </div>
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="14:55">
                            14:55
                        </time>
                        <h5 class="bc-agenda__session-title">Rotation 2</h5>
                        
                    </header>
                    
                        <div class="bc-agenda__workshops">
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                        </div>
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="15:55">
                            15:55
                        </time>
                        <h5 class="bc-agenda__session-title">Tea and coffee break</h5>
                        
                    </header>
                    
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="16:25">
                            16:25
                        </time>
                        <h5 class="bc-agenda__session-title">Rotation 3</h5>
                        
                    </header>
                    
                        <div class="bc-agenda__workshops">
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                                <div class="bc-agenda__workshops-item">
                                    <strong class="bc-agenda__workshops-title">This is a workshop title</strong>
                                    
                                        <div class="bc-agenda__description">Ad pariatur in occaecat culpa labore reprehenderit consequat labore Lorem.</div>
                                    
                                </div>
                        </div>
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="17:25">
                            17:25
                        </time>
                        <h5 class="bc-agenda__session-title">Panel discussion</h5>
                        
                    </header>
                    
                </section>
                <section class="bc-agenda__session">
                    <header class="bc-agenda__session-header">
                        <time class="bc-agenda__time" datetime="17:35">
                            17:35
                        </time>
                        <h5 class="bc-agenda__session-title">Concluding remarks and close of meeting</h5>
                        
                    </header>
                    
                </section>
        </section>
        <section class="bc-agenda__band">
            <header class="bc-agenda__band-header">
                <time class="bc-agenda__time" datetime="17:45">
                    17:45
                </time>
                
                    <h4 class="bc-agenda__band-title">Drinks reception - all attendees welcome</h4>
                
                
            </header>
        </section>
        <section class="bc-agenda__band">
            <header class="bc-agenda__band-header">
                <time class="bc-agenda__time" datetime="19:00">
                    19:00
                </time>
                
                    <h4 class="bc-agenda__band-title">Annual section dinner</h4>
                
                
                    <div class="bc-agenda__description">
                        Future of UKY
                    </div>
                
            </header>
        </section>
</div>


    
