










<div
    data-module="bc-alert"
    class="bc-alert">
    <span class="bc-alert__icon bc-alert--info">
            

<i 
    class="bc-icon fa-regular fa-exclamation"
>
</i>
    </span>
        <strong class="bc-alert__heading">
            Alert title
        </strong>
        <div
    class="bc-prose bc-alert__body">
    
            
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos perferendis nulla doloribus. Nisi adipisci nostrum libero magni voluptas voluptate minima, ut. Non dicta deserunt odit incidunt quisquam atque omnis.</p>

        
</div>

</div>









<div
    data-module="bc-alert"
    class="bc-alert">
    <span class="bc-alert__icon bc-alert--success">
            

<i 
    class="bc-icon fa-regular fa-check"
>
</i>
    </span>
        <div
    class="bc-prose bc-alert__body">
    
            
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fuga eaque quas architecto tenetur dolores reprehenderit totam officia similique, accusantium, id placeat facere debitis quia voluptates velit maxime porro corporis.</p>

        
</div>

</div>









<div
    data-module="bc-alert"
    class="bc-alert">
    <span class="bc-alert__icon bc-alert--warning">
            

<i 
    class="bc-icon fa-regular fa-exclamation"
>
</i>
    </span>
        <div
    class="bc-prose bc-alert__body">
    
            
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum odio voluptatibus mollitia dolor ducimus vitae, tenetur dolorum maxime deleniti magni cum inventore laudantium eveniet excepturi id fugiat, tempora iusto sunt!</p>

        
</div>

</div>










<div
    data-module="bc-alert"
    class="bc-alert">
    <span class="bc-alert__icon bc-alert--danger">
            

<i 
    class="bc-icon fa-regular fa-exclamation"
>
</i>
    </span>
        <div
    class="bc-prose bc-alert__body">
    
            
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum odio voluptatibus mollitia dolor ducimus vitae, tenetur dolorum maxime deleniti magni cum inventore laudantium eveniet excepturi id fugiat, tempora iusto sunt!</p>

        
</div>

</div>


