











<div class="bc-big-card" data-image-align="right">
    <div class="bc-big-card--image">
       

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/membership-types.jpg"
	>
</div>

    </div>
    <div class="bc-big-card--content">
        <header class="bc-big-card__header">
                



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Membership
</h4>

                



<h2
  class="bc-heading bc-heading--title"
>
    Become a member
</h2>

        </header>
        <div class="bc-big-card__inner">
                <div class="bc-big-card__body">
                    
    <div
    class="bc-prose">
    
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        </p>
    
</div>


                </div>
            <footer class="bc-big-card__action">
                    <a class="bc-big-card__link" href="#">
                        <span class="bc-big-card__link-text">Benefits of membership</span>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right bc-big-card__link-icon"
>
</i>
                    </a>
                    


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Join us</span>
</a>
            </footer>
        </div>
    </div>
</div>








<div class="bc-big-card" data-image-align="left">
    <div class="bc-big-card--image">
       

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/event-temp-background.png"
	>
</div>

    </div>
    <div class="bc-big-card--content">
        <header class="bc-big-card__header">
                



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Training
</h4>

                



<h2
  class="bc-heading bc-heading--title"
>
    Learn and grow with us
</h2>

        </header>
        <div class="bc-big-card__inner">
                <div class="bc-big-card__body">
                    
    <div
    class="bc-prose">
    
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        </p>
    
</div>


                </div>
            <footer class="bc-big-card__action">
                    <a class="bc-big-card__link" href="#">
                        <span class="bc-big-card__link-text">Our training options</span>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right bc-big-card__link-icon"
>
</i>
                    </a>
                    


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Find a course</span>
</a>
            </footer>
        </div>
    </div>
</div>



