












	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Primary</span>
</button>










	<button
	data-module="bc-button"
	class="bc-button" data-appearance="secondary"

		type="submit"
	>
		<span class="bc-button__label">Secondary button</span>
</button>










	<button
	data-module="bc-button"
	class="bc-button"

		type="submit" disabled
	>
		<span class="bc-button__label">Disabled button</span>
</button>










	<button
	data-module="bc-button"
	class="bc-button" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Button with link styles</span>
</button>




  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Anchor with button styles</span>
</a>
