





<!-- Header, body and cta -->




<article
	data-module="bc-card"
	class="bc-card"
>
				<header class="bc-card__header">
					



<h2
  class="bc-heading bc-heading--title"
>
    Your current membership
</h2>

				</header>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
    <div
    class="bc-prose">
    
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    
</div>


                </div>
                <footer class="bc-card__action">
                    


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">View membership details</span>
</a>
                </footer>
        </div>
</article>

<!-- Grid with smaller cards (including donations) -->
<div
    data-module="bc-grid"
    class="bc-grid fs-!-margin-top-5" data-size="1/2">
    
    



<article
	data-module="bc-card"
	class="bc-card" data-size="1/2"
>
				<header class="bc-card__header">
					



<h2
  class="bc-heading bc-heading--title"
>
    My donations
</h2>

				</header>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Please help us support young people through youth work and together we’ll make it clear that we #BelieveInYouth.</p>
        
</div>

    
                </div>
                <footer class="bc-card__action">
                    


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Make a donation</span>
</a>
                </footer>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card" data-size="1/2"
> 
				<a href="">
				<header class="bc-card__header">
					



<h2
  class="bc-heading bc-heading--title"
>
    My pledges
</h2>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        
</div>

    
                </div>
        </div>
</article>

</div>
