











<section
    data-module="bc-carousel"
    class="bc-carousel">
    <div class="bc-carousel__inner">
		
			<header class="bc-carousel__header">
				



<h3
  class="bc-heading bc-heading--subtitle"
>
    Upcoming events
</h3>

			</header>
		
		<div class="bc-carousel__slider">
			<div class="bc-carousel__slider-wrapper">
					<div class="bc-carousel__slider-slide " >
						
							







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/skyline.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Fugiat numquam dolorum culpa title goes here
</h4>

                                </header>
                                <div class="bc-event-card__main">
                                    
							
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>
						
					</div>
					<div class="bc-carousel__slider-slide " >
						
							







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/bridge.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Accusamus maxime odit voluptatibus vero doloribus, ab modi veritatis, quia
</h4>

                                </header>
                                <div class="bc-event-card__main">
                                    
							
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>
						
					</div>
					<div class="bc-carousel__slider-slide " >
						
							







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/docks.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Earum provident iure itaque doloribus minima repellat necessitatibus quia?
</h4>

                                </header>
                                <div class="bc-event-card__main">
                                    
							
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>
						
					</div>
					<div class="bc-carousel__slider-slide " >
						
							







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/skyline.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Error eius sunt minima maxime incidunt saepe commodi
</h4>

                                </header>
                                <div class="bc-event-card__main">
                                    
							
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>
						
					</div>
					<div class="bc-carousel__slider-slide " >
						
							







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/bridge.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Autem perspiciatis suscipit ea distinctio odio, omnis vel quae, doloribus, nobis deleniti aut
</h4>

                                </header>
                                <div class="bc-event-card__main">
                                    
							
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>
						
					</div>
					<div class="bc-carousel__slider-slide " >
						
							







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/docks.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Voluptas facilis explicabo, aut sit voluptate velit?
</h4>

                                </header>
                                <div class="bc-event-card__main">
                                    
							
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>
						
					</div>
					<div class="bc-carousel__slider-slide " >
						
							







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/skyline.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Fugiat numquam dolorum culpa title goes here
</h4>

                                </header>
                                <div class="bc-event-card__main">
                                    
							
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>
						
					</div>
					<div class="bc-carousel__slider-slide " >
						
							







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/bridge.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Accusamus maxime odit voluptatibus vero doloribus, ab modi veritatis, quia
</h4>

                                </header>
                                <div class="bc-event-card__main">
                                    
							
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>
						
					</div>
					<div class="bc-carousel__slider-slide " >
						
							







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/docks.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Earum provident iure itaque doloribus minima repellat necessitatibus quia?
</h4>

                                </header>
                                <div class="bc-event-card__main">
                                    
							
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>
						
					</div>
			</div>
			
			
				<div class="bc-carousel__slider-controls">
					<button type="button" class="bc-carousel__slider-control bc-carousel__slider-control--prev">
						

<i 
    class="bc-icon fa-regular fa-chevron-left"
>
</i>
						<span class="fs-!-sr">Previous slide</span>
					</button>
					<button type="button" class="bc-carousel__slider-control bc-carousel__slider-control--next">
						

<i 
    class="bc-icon fa-regular fa-chevron-right"
>
</i>
						<span class="fs-!-sr">Next slide</span>
					</button>
				</div>
				<div class="bc-carousel__pagination"></div>
			
		</div>
	</div>

	
		<div class="bc-carousel__link bc-container">
			<div class="bc-container__inner">
				<a class="bc-carousel_link-text" href="">
					<span class="bc-carousel__link-text">Find an event</span>
					

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
				</a>
			</div>
		</div>
	
</section>









<section
    data-module="bc-carousel"
    class="bc-carousel bc-carousel--hero ">
    <div class="bc-carousel__inner">
		
		<div class="bc-carousel__slider">
			<div class="bc-carousel__slider-wrapper">
					<div class="bc-carousel__slider-slide "  style="background:url('/images/temp/homepage-hero.png')" >
						
							<div class="bc-carousel__slider-slide-slide">
								<div class="bc-carousel__slider-slide-flex-container">
									<div class="bc-carousel__slider-slide-body">
										<div class="bc-carousel__slider-slide-content">
											



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Brand value prop
</h1>

												
	<div
    class="bc-prose">
    
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	
</div>


											<div class="bc-carousel__slider-slide-cta">
												


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Primary CTA</span>
</a>
											</div>
										</div>
									</div>
								</div>
								<div class="bc-carousel__slider-slide-media">
									

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Put some alternative text here."
		src="/images/temp/homepage-hero.png"
	>
</div>

								</div>
							</div>
						
					</div>
					<div class="bc-carousel__slider-slide "  style="background:url('/images/temp/homepage-hero.png')" >
						
							<div class="bc-carousel__slider-slide-slide">
								<div class="bc-carousel__slider-slide-flex-container">
									<div class="bc-carousel__slider-slide-body">
										<div class="bc-carousel__slider-slide-content">
											



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Brand value prop
</h1>

												
	<div
    class="bc-prose">
    
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	
</div>


											<div class="bc-carousel__slider-slide-cta">
												


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Primary CTA</span>
</a>
											</div>
										</div>
									</div>
								</div>
								<div class="bc-carousel__slider-slide-media">
									

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Put some alternative text here."
		src="/images/temp/homepage-hero.png"
	>
</div>

								</div>
							</div>
						
					</div>
					<div class="bc-carousel__slider-slide "  style="background:url('/images/temp/homepage-hero.png')" >
						
							<div class="bc-carousel__slider-slide-slide">
								<div class="bc-carousel__slider-slide-flex-container">
									<div class="bc-carousel__slider-slide-body">
										<div class="bc-carousel__slider-slide-content">
											



<h1
  class="bc-heading bc-heading--jumbotron"
>
    
</h1>

												
	<div
    class="bc-prose">
    
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	
</div>


											<div class="bc-carousel__slider-slide-cta">
												


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Primary CTA</span>
</a>
											</div>
										</div>
									</div>
								</div>
								<div class="bc-carousel__slider-slide-media">
									

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Put some alternative text here."
		src="/images/temp/homepage-hero.png"
	>
</div>

								</div>
							</div>
						
					</div>
			</div>
			
			
				<div class="bc-carousel__slider-controls">
					<button type="button" class="bc-carousel__slider-control bc-carousel__slider-control--prev">
						

<i 
    class="bc-icon fa-regular fa-chevron-left"
>
</i>
						<span class="fs-!-sr">Previous slide</span>
					</button>
					<button type="button" class="bc-carousel__slider-control bc-carousel__slider-control--next">
						

<i 
    class="bc-icon fa-regular fa-chevron-right"
>
</i>
						<span class="fs-!-sr">Next slide</span>
					</button>
				</div>
				<div class="bc-carousel__pagination"></div>
			
		</div>
	</div>

	
</section>
	









<section
    data-module="bc-carousel"
    class="bc-carousel bc-carousel--hero ">
    <div class="bc-carousel__inner">
		
		<div class="bc-carousel__slider">
			<div class="bc-carousel__slider-wrapper">
					<div class="bc-carousel__slider-slide  bc-carousel__single-slide"  style="background:url('/images/temp/homepage-hero.png')" >
						
							<div class="bc-carousel__slider-slide-slide">
								<div class="bc-carousel__slider-slide-flex-container">
									<div class="bc-carousel__slider-slide-body">
										<div class="bc-carousel__slider-slide-content">
											



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Brand value prop
</h1>

												
	<div
    class="bc-prose">
    
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	
</div>


											<div class="bc-carousel__slider-slide-cta">
												


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Primary CTA</span>
</a>
											</div>
										</div>
									</div>
								</div>
								<div class="bc-carousel__slider-slide-media">
									

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Put some alternative text here."
		src="/images/temp/homepage-hero.png"
	>
</div>

								</div>
							</div>
						
					</div>
			</div>
			
			
		</div>
	</div>

	
</section>
	

