






<div class="bc-form-row">
    <fieldset 
        class="bc-fieldset">
        
        <div 
            data-module="bc-choice-selector-card" 
            class="bc-choice-selector-card"
        >
            <ul class="bc-choice-selector-card__list">

                    <li class="bc-choice-selector-card__item">
                        <input 
                            class="bc-choice-selector-card__input-element" 
                            type="radio" 
                            name="membershipRoutes" 
                            id="membershipRoutes-1" 
                            value="experience"
                            data-id="membershipRoutes-1" checked
                        />
                        <div class="bc-choice-selector-card__inner">
                            <label class="bc-choice-selector-card__label" for="membershipRoutes-1">
                                Experience 
                            </label>
                            
                            <p class="bc-choice-selector-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>

                    <li class="bc-choice-selector-card__item">
                        <input 
                            class="bc-choice-selector-card__input-element" 
                            type="radio" 
                            name="membershipRoutes" 
                            id="membershipRoutes-2" 
                            value="qualification"
                            data-id="membershipRoutes-2"
                        />
                        <div class="bc-choice-selector-card__inner">
                            <label class="bc-choice-selector-card__label" for="membershipRoutes-2">
                                Qualification 
                            </label>
                            
                            <p class="bc-choice-selector-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
            </ul>
        </div>
    </fieldset>
</div>
    
