




<div
    class="bc-prose">
    <h2>Regular</h2>
</div>


<dl
    class="bc-description-list bc-description-list--striped">
    
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		Full name
	</dt>
	<dd class="bc-description-list__value">
			John Doe
	</dd>
</div>
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		Email
	</dt>
	<dd class="bc-description-list__value">
			john.doe@felinesoft.com
	</dd>
</div>
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		About
	</dt>
	<dd class="bc-description-list__value">
			
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eos, nostrum fugit porro iste. Eum, illum ullam aspernatur. Quae reiciendis praesentium fuga similique minima sequi non illo sint officia nisi?</p>
        
</div>

    
	</dd>
</div>

</dl>


<div
    class="bc-prose">
    <h2>Wide</h2>
</div>


<dl
    class="bc-description-list bc-description-list--wide bc-description-list--striped">
    
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		Full name
	</dt>
	<dd class="bc-description-list__value">
			John Doe
	</dd>
</div>
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		Email
	</dt>
	<dd class="bc-description-list__value">
			john.doe@felinesoft.com
	</dd>
</div>
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		About
	</dt>
	<dd class="bc-description-list__value">
			
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eos, nostrum fugit porro iste. Eum, illum ullam aspernatur. Quae reiciendis praesentium fuga similique minima sequi non illo sint officia nisi?</p>
        
</div>

    
	</dd>
</div>

</dl>

