




<div
    data-module="bc-details-group"
    class="bc-details-group">
    
	



<details
	data-module="bc-details"
	class="bc-details">
	<summary>
		<div class="bc-details__summary">
			<div class="bc-details__heading">
				<div class="bc-details__heading-inner">
					



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, pariatur.
</h1>

				</div>
			</div>
			

<i 
    class="bc-icon fa-regular fa-chevron-down bc-details__icon"
>
</i>
		</div>
	</summary>
	<div class="bc-details__body">
		
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nostrum excepturi ut facilis atque facere suscipit error inventore modi perspiciatis quibusdam ab recusandae animi, quis in ipsa libero aliquid quos?</p>
	
	</div>
</details>

	



<details
	data-module="bc-details"
	class="bc-details">
	<summary>
		<div class="bc-details__summary">
			<div class="bc-details__heading">
				<div class="bc-details__heading-inner">
					



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Molestias magnam iste consectetur reprehenderit, dolore ut similique voluptatibus, delectus repellendus? Saepe?
</h1>

				</div>
			</div>
			

<i 
    class="bc-icon fa-regular fa-chevron-down bc-details__icon"
>
</i>
		</div>
	</summary>
	<div class="bc-details__body">
		
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta est beatae, vero aperiam dolor esse laboriosam illo natus libero deleniti non rerum, officiis. Quam veniam, sint officia sit in, dignissimos!</p>
	
	</div>
</details>

	



<details
	data-module="bc-details"
	class="bc-details">
	<summary>
		<div class="bc-details__summary">
			<div class="bc-details__heading">
				<div class="bc-details__heading-inner">
					



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Omnis provident nam iste quia dicta quasi possimus quaerat rerum soluta earum.
</h1>

				</div>
			</div>
			

<i 
    class="bc-icon fa-regular fa-chevron-down bc-details__icon"
>
</i>
		</div>
	</summary>
	<div class="bc-details__body">
		
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequatur amet sequi architecto cumque voluptatem dolor nesciunt possimus, est hic eos, mollitia dolorum quasi dignissimos fugit porro ex quas rem.</p>
	
	</div>
</details>


</div>


