






<div
    data-module="bc-grid"
    class="bc-grid" data-size="1/1">
    
    







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card">
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h3
  class="bc-heading bc-heading--subtitle"
>
    Getting started and using LinkedIn for young people aged 16-25
</h3>

                                </header>
                                <div class="bc-event-card__main">
                                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        
</div>

    
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2022
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Time</span>
                                                

<i 
    class="bc-icon fa-regular fa-clock-seven"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    10:00 GMT GMT
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Price</span>
                                                

<i 
    class="bc-icon fa-regular fa-sterling-sign"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    XXX
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>

</div>
<div
    data-module="bc-grid"
    class="bc-grid" data-size="1/1">
    
     







                <a class="bc-event-card__link" href="#">

                    <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                            <div class="bc-event-card__media">
                                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="../../images/temp/event-temp-background.png"
	>
</div>

                            </div>
                        <div class="bc-event-card__body">
                                <header class="bc-event-card__header">
                                    



<h3
  class="bc-heading bc-heading--subtitle"
>
    Roebuck Lecture 2022 delivered by the Rt. Hon. Sir Geoffrey Vos
</h3>

                                </header>
                                <div class="bc-event-card__main">
                                    
        <div
    class="bc-prose">
    
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        
</div>

    
                                </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2021
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Time</span>
                                                

<i 
    class="bc-icon fa-regular fa-clock-seven"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    10:00 GMT
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Price</span>
                                                

<i 
    class="bc-icon fa-regular fa-sterling-sign"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    XXX
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                        </div>
                            

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                    </article>
                </a>

</div>
