






<div
	class="bc-feedback-message">
	<span class="bc-feedback-message__label">Your application reference number is ABC012345.</span>
</div>





<div
	class="bc-feedback-message" data-size="large">
	<span class="bc-feedback-message__label">Your application reference number is ABC012345.</span>
</div>




	

<div
	class="bc-feedback-message" data-type="success">
	<span class="bc-feedback-message__label">Document uploaded.</span>
</div>




	

<div
	class="bc-feedback-message" data-size="large" data-type="success">
	<span class="bc-feedback-message__label">Document uploaded.</span>
</div>




	

<div
	class="bc-feedback-message" data-type="warning">
	<span class="bc-feedback-message__label">This page will self-destruct in 90 seconds.</span>
</div>




	

<div
	class="bc-feedback-message" data-size="large" data-type="warning">
	<span class="bc-feedback-message__label">This page will self-destruct in 90 seconds.</span>
</div>




	

<div
	class="bc-feedback-message" data-type="danger">
	<span class="bc-feedback-message__label">Avoid uploading .doc files. Save as .docx if possible.</span>
</div>




	

<div
	class="bc-feedback-message" data-size="large" data-type="danger">
	<span class="bc-feedback-message__label">Avoid uploading .doc files. Save as .docx if possible.</span>
</div>




	

<div
	class="bc-feedback-message" data-type="error">
	<span class="bc-feedback-message__label">Upload failed. The file you uploaded was too large.</span>
</div>




	

<div
	class="bc-feedback-message" data-size="large" data-type="error">
	<span class="bc-feedback-message__label">Upload failed. The file you uploaded was too large.</span>
</div>



