








<div class="bc-form-row">
    <label class="bc-label" for="ExampleFileUpload">
        Upload document
    </label>
	<div
		data-module="bc-file-upload"
		class="bc-file-upload">
		<dl class="bc-file-upload__list">
		</dl>
			<div class="bc-file-upload__control">
				<div class="bc-file-upload__messaging">
					

<i 
    class="bc-icon fa-regular fa-arrow-up-from-bracket bc-file-upload__icon"
>
</i>
						
						
						<div class="bc-hint bc-file-upload__hint" id="ExampleFileUpload-Hint">
							Select a file or drop and drag here
						</div>
					


  







	<a
	data-module="bc-button"
	class="bc-button buttonid" data-appearance="secondary"

		href="#"
	>
		<span class="bc-button__label">Select file</span>
</a>
				</div>
				<input
					class="bc-file-upload__input"
					type="file"
					id="ExampleFileUpload"
					name="ExampleFileUpload" multiple aria-describedby=" ExampleFileUpload-Hint">
			</div>
	</div>
</div>


