








<div class="bc-form-row">
    <label class="bc-label" for="">
        
    </label>
	<div
		data-module="bc-file-upload"
		class="bc-file-upload">
		<dl class="bc-file-upload__list">
				<div class="bc-file-upload__list-item">
					<dt class="bc-heading-h5 bc-file-upload__filename">filename.jpg</dt>
					<dd class="bc-file-upload__size">2.5 MB</dd>
				</div>
				<div class="bc-file-upload__list-item">
					<dt class="bc-heading-h5 bc-file-upload__filename">thisisonelongincrediblyunbrokensentencemovingfromtopictotopicsothatnoonehadachancetointerruptitwasreallyquitehypnotic.jpg</dt>
					<dd class="bc-file-upload__size">404 KB</dd>
						<dd class="bc-file-upload__feedback">
							

	

<div
	class="bc-feedback-message fs-!-margin-bottom-0" data-type="success">
	<span class="bc-feedback-message__label">File uploaded.</span>
</div>

						</dd>
				</div>
				<div class="bc-file-upload__list-item">
					<dt class="bc-heading-h5 bc-file-upload__filename">wrongformat.txt</dt>
					<dd class="bc-file-upload__size">642 B</dd>
						<dd class="bc-file-upload__feedback">
							

	

<div
	class="bc-feedback-message fs-!-margin-bottom-0" data-type="error">
	<span class="bc-feedback-message__label">Upload failed. Files must be .jpg, .jpeg, .gif or .png.</span>
</div>

						</dd>
				</div>
				<div class="bc-file-upload__list-item">
					<dt class="bc-heading-h5 bc-file-upload__filename">toobig.gif</dt>
					<dd class="bc-file-upload__size">52 MB</dd>
						<dd class="bc-file-upload__feedback">
							

	

<div
	class="bc-feedback-message fs-!-margin-bottom-0" data-type="error">
	<span class="bc-feedback-message__label">Upload failed. Files must be less than 3 MB.</span>
</div>

						</dd>
				</div>
		</dl>
	</div>
</div>


