












<div
    data-module="bc-filters"
    id="filters"
    class="bc-filters">
    

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
        <h3 id="filters-title" class="bc-heading bc-heading--subtitle" >
            Filter events
            

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
        </h3>
        <div class="bc-filters__body">
            











<div class="bc-form-row">
    
        <fieldset 
            class="bc-fieldset">
            
                <legend class="bc-fieldset__legend">
                    <span class="bc-label">Event type</span>
                </legend>
            
            
    
    
    <div 
        data-module="bc-checkbox" 
        class="bc-checkbox">
        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroup-1"
            name="ExampleCheckboxGroup"
            value="1">
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroup-1">Event type</label>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroup-2"
            name="ExampleCheckboxGroup"
            value="2">
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroup-2">Event type</label>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroup-3"
            name="ExampleCheckboxGroup"
            value="3">
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroup-3">Event type</label>
        </div>
    </div>

        
    </div>

        </fieldset>
    
</div>
            

<div class="bc-form-row">
    <label class="bc-label" for="ExampleSelect">
        Event location
        <span class="bc-label__optional">(optional)</span>
    </label>
    <div class="bc-select">
        <select
            data-module="bc-select"
            class="bc-select__input"
            id="ExampleSelect"
            name="ExampleSelect">
                <option value="">All</option>
                <option value="">Lorem ipsum</option>
                <option value="">Lorem ipsum</option>
        </select>
        <span class="bc-select__arrow">
            

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
        </span>
    </div>
</div>
            



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInputDate">
        From
            <span class="bc-label__optional">(optional)</span>
    </label>
        
            
            <input
    class="bc-input bc-input--date"
    id="ExampleInputDate"
    name="ExampleInputDate"

                type="date">
        
</div>
            



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInputDate">
        To
            <span class="bc-label__optional">(optional)</span>
    </label>
        
            
            <input
    class="bc-input bc-input--date"
    id="ExampleInputDate"
    name="ExampleInputDate"

                type="date">
        
</div>
            <div class="bc-filters__actions">
                








	<button
	data-module="bc-button"
	class="bc-button bc-form-row" data-appearance="primary" name="testName" value="testValue"

		type="submit"
	>
		<span class="bc-button__label">Apply filters</span>
</button>
                








	<button
	data-module="bc-button"
	class="bc-button bc-form-row" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Clear filters</span>
</button>
            </div>
        </div>
    
</form>

</div>

