





<div
    data-module="bc-grid"
    class="bc-grid">
    
	



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>

</div>


<div
    data-module="bc-grid"
    class="bc-grid" data-size="1/2">
    
	



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>

</div>
