









<div class="bc-hero-banner__wrapper">
    <section
        data-module="bc-hero-banner"
        class="bc-hero-banner">
        <div class="flex-container">
            <div class="bc-hero-banner__body">
                <div class="bc-hero-banner__content">
                        <div class="bc-hero-banner__back-btn">
                            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="link"

		href="#"
	>
		<span class="bc-button__label">Membership</span>
</a>
                        </div>
                    



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Membership types
</h1>

                        
    <div
    class="bc-prose">
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
        </p>
    
</div>


                        <div class="bc-hero-banner__cta">
                            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Primary CTA</span>
</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="bc-hero-banner__media">
            

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/membership-types.jpg"
	>
</div>

        </div>
    </section>
</div>







<div class="bc-hero-banner__wrapper">
    <section
        data-module="bc-hero-banner"
        class="bc-hero-banner bc-hero-banner--secondary-color">
        <div class="flex-container">
            <div class="bc-hero-banner__body">
                <div class="bc-hero-banner__content">
                        <div class="bc-hero-banner__back-btn">
                            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="link"

		href="#"
	>
		<span class="bc-button__label">Membership</span>
</a>
                        </div>
                    



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Membership types
</h1>

                        
    <div
    class="bc-prose">
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
        </p>
    
</div>


                        <div class="bc-hero-banner__cta">
                            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Primary CTA</span>
</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="bc-hero-banner__media">
            

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="/images/temp/membership-types.jpg"
	>
</div>

        </div>
    </section>
</div>
