





<ul
    data-module="bc-list"
    class="bc-list">
    
	<li>Plain list.</li>
	<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ex eaque ratione consequatur deleniti molestias ad ab autem enim sunt rem quos praesentium consequuntur, necessitatibus hic. Molestias perferendis quibusdam mollitia!</li>
	<li>Facere consectetur expedita nulla, magnam eum, dignissimos distinctio libero odit a aliquam minus, accusamus iste illum ducimus error laudantium dolore sequi. Ipsum quae, distinctio fugiat dolore repudiandae quaerat, est nesciunt.</li>
	<li>Voluptatem optio qui voluptate? Odio repellat harum alias vitae nihil. Assumenda suscipit distinctio amet quaerat repudiandae explicabo ut nam ad commodi ullam ab minima ducimus sit, deserunt sapiente corporis. Dolorem.</li>
	<li>Optio iusto at quas cupiditate aliquid voluptate error veniam corporis repudiandae, maiores ab ad non sapiente sed sit, asperiores in ipsa distinctio rem eos ratione consectetur? Animi architecto culpa magnam.</li>

</ul>




<ul
    data-module="bc-list" data-style="bulleted"
    class="bc-list">
    
	<li>Bulleted list.</li>
	<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ex eaque ratione consequatur deleniti molestias ad ab autem enim sunt rem quos praesentium consequuntur, necessitatibus hic. Molestias perferendis quibusdam mollitia!</li>
	<li>Facere consectetur expedita nulla, magnam eum, dignissimos distinctio libero odit a aliquam minus, accusamus iste illum ducimus error laudantium dolore sequi. Ipsum quae, distinctio fugiat dolore repudiandae quaerat, est nesciunt.</li>
	<li>Voluptatem optio qui voluptate? Odio repellat harum alias vitae nihil. Assumenda suscipit distinctio amet quaerat repudiandae explicabo ut nam ad commodi ullam ab minima ducimus sit, deserunt sapiente corporis. Dolorem.</li>
	<li>Optio iusto at quas cupiditate aliquid voluptate error veniam corporis repudiandae, maiores ab ad non sapiente sed sit, asperiores in ipsa distinctio rem eos ratione consectetur? Animi architecto culpa magnam.</li>

</ul>




<ol
    data-module="bc-list" data-style="numbered"
    class="bc-list">
    
	<li>Numbered list.</li>
	<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ex eaque ratione consequatur deleniti molestias ad ab autem enim sunt rem quos praesentium consequuntur, necessitatibus hic. Molestias perferendis quibusdam mollitia!</li>
	<li>Facere consectetur expedita nulla, magnam eum, dignissimos distinctio libero odit a aliquam minus, accusamus iste illum ducimus error laudantium dolore sequi. Ipsum quae, distinctio fugiat dolore repudiandae quaerat, est nesciunt.</li>
	<li>Voluptatem optio qui voluptate? Odio repellat harum alias vitae nihil. Assumenda suscipit distinctio amet quaerat repudiandae explicabo ut nam ad commodi ullam ab minima ducimus sit, deserunt sapiente corporis. Dolorem.</li>
	<li>Optio iusto at quas cupiditate aliquid voluptate error veniam corporis repudiandae, maiores ab ad non sapiente sed sit, asperiores in ipsa distinctio rem eos ratione consectetur? Animi architecto culpa magnam.</li>

</ol>




<ul
    data-module="bc-list" data-style="check"
    class="bc-list">
    
	<li>Check list.</li>
	<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ex eaque ratione consequatur deleniti molestias ad ab autem enim sunt rem quos praesentium consequuntur, necessitatibus hic. Molestias perferendis quibusdam mollitia!</li>
	<li>Facere consectetur expedita nulla, magnam eum, dignissimos distinctio libero odit a aliquam minus, accusamus iste illum ducimus error laudantium dolore sequi. Ipsum quae, distinctio fugiat dolore repudiandae quaerat, est nesciunt.</li>
	<li>Voluptatem optio qui voluptate? Odio repellat harum alias vitae nihil. Assumenda suscipit distinctio amet quaerat repudiandae explicabo ut nam ad commodi ullam ab minima ducimus sit, deserunt sapiente corporis. Dolorem.</li>
	<li>Optio iusto at quas cupiditate aliquid voluptate error veniam corporis repudiandae, maiores ab ad non sapiente sed sit, asperiores in ipsa distinctio rem eos ratione consectetur? Animi architecto culpa magnam.</li>

</ul>




<ul
    data-module="bc-list" data-style="bulleted" data-spaced
    class="bc-list">
    
	<li>Spaced out list.</li>
	<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ex eaque ratione consequatur deleniti molestias ad ab autem enim sunt rem quos praesentium consequuntur, necessitatibus hic. Molestias perferendis quibusdam mollitia!</li>
	<li>Facere consectetur expedita nulla, magnam eum, dignissimos distinctio libero odit a aliquam minus, accusamus iste illum ducimus error laudantium dolore sequi. Ipsum quae, distinctio fugiat dolore repudiandae quaerat, est nesciunt.</li>
	<li>Voluptatem optio qui voluptate? Odio repellat harum alias vitae nihil. Assumenda suscipit distinctio amet quaerat repudiandae explicabo ut nam ad commodi ullam ab minima ducimus sit, deserunt sapiente corporis. Dolorem.</li>
	<li>Optio iusto at quas cupiditate aliquid voluptate error veniam corporis repudiandae, maiores ab ad non sapiente sed sit, asperiores in ipsa distinctio rem eos ratione consectetur? Animi architecto culpa magnam.</li>

</ul>




<ul
    data-module="bc-list" data-style="socials-inline"
    class="bc-list">
    
	<li>
		<a href="#" title="">
			<i class="fa-brands fa-facebook-f"></i>
			<span class="sr-only">Facebook</span>
		</a>	
	</li>
	<li>
		<a href="#" title="">
			<i class="fa-brands fa-twitter"></i>
			<span class="sr-only">Twitter</span>
		</a>
	</li>
	<li>
		<a href="#" title="">
			<i class="fa-brands fa-instagram"></i>
			<span class="sr-only">Instagram</span>
		</a>
	</li>
	<li>
		<a href="#" title="">
			<i class="fa-brands fa-youtube"></i>
			<span class="sr-only">Youtube</span>
		</a>
	</li>
	<li>
		<a href="#" title="">
			<i class="fa-brands fa-linkedin-in"></i>
			<span class="sr-only">LinkedIn</span>
		</a>
	</li>

</ul>

