









<div data-module="bc-membership-card" class="bc-membership-card">
    <div class="bc-membership-card__inner">
			
        <div class="bc-membership-card__description">
            
	<div
    class="bc-prose">
    
		<dl>
            <dt>Annual subscription</dt>
            <dd>Access to exclusive discounts</dd>
            <dd>Digital version of our quarterly magazine, The Vegan</dd>
            <dd>Access to our vegan dietitian, Heather</dd>
        </dl>
	
</div>


        </div>
            
                








	<button
	data-module="bc-button"
	class="bc-button fs-!-margin-right-4" data-appearance="primary" data-modal-open="renew-membership-modal"

		type="submit"
	>
		<span class="bc-button__label">Renew membership</span>
</button>  
            
                








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="secondary"

		type="submit"
	>
		<span class="bc-button__label">Cancel membership</span>
</button>  
            
    </div> 
    <div class="bc-membership-card__premium">
        <span class="bc-membership-card__price">
            £24
        </span>
        <span class="bc-membership-card__period">
            /year
        </span>
    </div>
</div>
