










<div
    data-module="bc-news"
    class="bc-news">
		



<h2
  class="bc-heading bc-heading--title"
>
    What’s new?
</h2>


	<div class="bc-news__grid">
			<a href="#" class="bc-news-card bc-news-card--featured ">
					

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Branch focus: UAE"
		src="/images/temp/membership-types.jpg"
	>
</div>

				<div class="bc-news-card__content">
					<header class="bc-news-card__header">
							<p class="bc-news-card__category">Category tag</p>
						



<h3
  class="bc-heading bc-heading--subtitle"
>
    Branch focus: UAE
</h3>

					</header>
					
						<div
    class="bc-prose bc-news-card__body">
    
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						
</div>

				</div>
			</a>
			<a href="#" class="bc-news-card  ">
					

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="ciarb&#39;s diversity in ADR strategy"
		src="/images/temp/membership-types.jpg"
	>
</div>

				<div class="bc-news-card__content">
					<header class="bc-news-card__header">
							<p class="bc-news-card__category">Category tag</p>
						



<h3
  class="bc-heading bc-heading--subtitle"
>
    ciarb&#39;s diversity in ADR strategy
</h3>

					</header>
						
						<div class="bc-news-card__date">25th  July 2022</div>
					
				</div>
			</a>
			<a href="#" class="bc-news-card  ">
					

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Arbitration week 2022 - review"
		src="/images/temp/membership-types.jpg"
	>
</div>

				<div class="bc-news-card__content">
					<header class="bc-news-card__header">
							<p class="bc-news-card__category">Category tag</p>
						



<h3
  class="bc-heading bc-heading--subtitle"
>
    Arbitration week 2022 - review
</h3>

					</header>
						
						<div class="bc-news-card__date">25th  July 2022</div>
					
				</div>
			</a>
			<a href="#" class="bc-news-card  ">
					

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Arbitration week 2022 - review"
		src="/images/temp/membership-types.jpg"
	>
</div>

				<div class="bc-news-card__content">
					<header class="bc-news-card__header">
							<p class="bc-news-card__category">Category tag</p>
						



<h3
  class="bc-heading bc-heading--subtitle"
>
    ciarb mentoring programme
</h3>

					</header>
						
						<div class="bc-news-card__date">25th  July 2022</div>
					
				</div>
			</a>
	

	</div>

	
		
		<a class="bc-news__link" href="#">All news

<i 
    class="bc-icon fa-regular fa-arrow-right bc-news__link-icon"
>
</i>
		</a>
	

</div>
