












<div data-module="bc-notification-bar" class="bc-notification-bar bc-notification-bar--info ">
    <div class="bc-container">
        <div class="bc-container__inner">
            <p class="bc-notification-bar__heading">
                This is a info message
            </p>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Lorem ipsum</span>
</a>
        </div>
    </div>
</div>









<div data-module="bc-notification-bar" class="bc-notification-bar bc-notification-bar--success ">
    <div class="bc-container">
        <div class="bc-container__inner">
            <p class="bc-notification-bar__heading">
                This is a success message
            </p>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Lorem ipsum</span>
</a>
        </div>
    </div>
</div>









<div data-module="bc-notification-bar" class="bc-notification-bar bc-notification-bar--warning ">
    <div class="bc-container">
        <div class="bc-container__inner">
            <p class="bc-notification-bar__heading">
                This is a warning message
            </p>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Lorem ipsum</span>
</a>
        </div>
    </div>
</div>









<div data-module="bc-notification-bar" class="bc-notification-bar bc-notification-bar--danger ">
    <div class="bc-container">
        <div class="bc-container__inner">
            <p class="bc-notification-bar__heading">
                This is a danger message
            </p>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Lorem ipsum</span>
</a>
        </div>
    </div>
</div>

