







<div class="wrapper">
    <div class="site"> 
    
        
    
        







<header id="master-header" data-module="bc-header" class="bc-header">
   <div class="bc-header__non-search">
      <a class="bc-header__logo-container-tablet" href="#" title="">
         <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

      </a>
      <button type="button" class="bc-header__nav-toggle" id="burger">
         Menu
         <span class="bc-header__nav-toggle-icon">
            

<i 
    class="bc-icon fa-regular fa-bars"
>
</i>
         </span>
      </button>
      <a class="bc-header__logo-container_mobile" href="#" title="">
         <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

      </a>
      <div class="bc-header__main-menu-container" id="navbar">
         <ul class="bc-header__main-menu">
            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        About us
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Join ciarb
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Training
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Network & communities
                     </span>
                  </a>
               </div>
            </li>
               <li class="bc-header__menu-item">
                  

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
                     <button class="bc-button bc-header__menu-item-text bc-header__menu-item-bold">
                        

<i 
    class="bc-icon fa-regular fa-user fs-!-margin-right-1"
>
</i> 
                        Login
                     </button>
                  
</form>

               </li>
         </ul>

         <div class="bc-button-row">
            <a class="bc-header__contact-link" href="#" title="">Contact us</a>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Join CIArb</span>
</a>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="secondary"

		href="#"
	>
		<span class="bc-button__label">Member directory</span>
</a>
         </div>

      </div>
      
      <a class="bc-header__contact-link hide-on-mobile" href="#" title="">Contact us</a>
      


  







	<a
	data-module="bc-button"
	class="bc-button bc-header__navbar-members" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Join us</span>
</a>
      


  







	<a
	data-module="bc-button"
	class="bc-button bc-header__navbar-members" data-appearance="secondary"

		href="#"
	>
		<span class="bc-button__label">Member directory</span>
</a>
         

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
            <button class="bc-header__navbar-user">
               

<i 
    class="bc-icon fa-regular fa-arrow-right-to-bracket fs-!-margin-right-1"
>
</i>
               Login / Register
            </button>
         
</form>

      

      <button class="bc-header__navbar-cart">
         

<i 
    class="bc-icon fa-regular fa-basket-shopping"
>
</i>
         <span class="sr-only">Basket</span>
      </button>
      <button class="bc-header__navbar-search" data-toggle-search>
         

<i 
    class="bc-icon fa-regular fa-magnifying-glass"
>
</i>
         <span class="sr-only">Search</span>
      </button>
      <div class="bc-header__search bc-header__search-desktop">
         

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
            



<div class="bc-form-row">
    <label class="bc-label" for="search">
        
    </label>
        
            
            <input
    class="bc-input bc-header__search_input"
    id="search"
    name="search" placeholder="Type to search" required

                type="text">
        
</div>
            








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Search</span>
</button>
         
</form>


         <button class="bc-header__search-close" data-toggle-search>
            

<i 
    class="bc-icon fa-regular fa-times"
>
</i>
            <span class="sr-only">Close search</span>
         </button>
      </div>
      <div class="bc-header__quick-nav">
         <a class="bc-header__logo-container" href="#" title="">
            <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

         </a>
         <ul class="bc-header__quick-nav-menu">
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  About us
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>
               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 4</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 5</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 6</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 7</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 8</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 9</a>
                  </li>
               </ul>
            </li>
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Join ciarb
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Training
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" aria-current="page">
                  Network & communities
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Resolve disputes
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>

            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               
               <a href="#" title="">
                  News & insights
                   <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

            </li>

         </ul>
      </div>
   </div>

   <div class="bc-header__search bc-header__search-mobile">
      

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
         



<div class="bc-form-row">
    <label class="bc-label" for="search">
        
    </label>
        
            
            <input
    class="bc-input bc-header__search_input"
    id="search"
    name="search" placeholder="Type to search" required

                type="text">
        
</div>
         








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Search</span>
</button>
      
</form>


      <button class="bc-header__search-close" data-toggle-search>
         

<i 
    class="bc-icon fa-regular fa-times"
>
</i>
         <span class="sr-only">Close search</span>
      </button>

   </div>
</header>

        <main id="content">
            <div class="bc-container"> 
                <div class="bc-container__inner"> 
                    
    
<nav
	data-module="bc-breadcrumbs"
	aria-label="Breadcrumb"
	class="bc-breadcrumbs"
>
	<ul class="bc-breadcrumbs__list">
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="/"
				>Home</a>
			</li>
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="#"
				>Events</a>
			</li>
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="#"
				>Discussion of the CIArb Guidelines on Expert Witness Conferences</a>
			</li>
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="#" aria-current="page"
				>Booking event</a>
			</li>
	</ul>
</nav>


                </div>
            </div>
            
            
    
    
    <div class="it-centered">
        <div class="it-centered__inner">
            <div class="bc-container">
                
                <div class="bc-container__inner">
                    
                        <article class="it-centered__document">
                            <main class="it-centered__body">
                                
    
    
    
    
    
    

    <div class="ip-event-booking">
        



<h1
  class="bc-heading bc-heading--jumbotron fs-!-margin-bottom-3"
>
    Booking event
</h1>


        

<form
    data-module="bc-form"
    class="bc-form fs-!-margin-block-5"
    action=""
    method="get" data-do-not-prompt-unload>
    

        <div class="ip-event-booking__section">
            



<h2
  class="bc-heading bc-heading--title fs-!-margin-top-5"
>
    Validate delegate email
</h2>

            <div class="ip-event-booking__email-validation">
                



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        Email address
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="email" value="email@email.com">
        
</div>
                








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Validate</span>
</button>
            </div>
        </div>

        <div class="ip-event-booking__section">
            



<h2
  class="bc-heading bc-heading--title fs-!-margin-top-5"
>
    Delegate personal details
</h2>

            



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        First name
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="text" value="Michelle">
        
</div>
            



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        Last name
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="text" value="Baker">
        
</div>
        </div>

        <div class="ip-event-booking__section">
            



<h2
  class="bc-heading bc-heading--title fs-!-margin-top-5"
>
    Events preference
</h2>

            

<div class="bc-form-row">
    <label class="bc-label" for="DietaryRequirements">
        Dietary requirements
    </label>
    <div class="bc-select">
        <select
            data-module="bc-select"
            class="bc-select__input"
            id="DietaryRequirements"
            name="DietaryRequirements" required>
                <option value="">Please select</option>
                <option value="All" selected>All</option>
        </select>
        <span class="bc-select__arrow">
            

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
        </span>
    </div>
</div>
            











<div class="bc-form-row">
    
        <fieldset 
            class="bc-fieldset">
            
                <legend class="bc-fieldset__legend">
                    <span class="bc-label">Specific accessibility requirements (optional)</span>
                </legend>
            
            
    
    
    <div 
        data-module="bc-checkbox" 
        class="bc-checkbox">
        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="OutdoorLearningPreferences-1"
            name="OutdoorLearningPreferences"
            value="1">
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="OutdoorLearningPreferences-1">Wheelchair acces</label>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="OutdoorLearningPreferences-2"
            name="OutdoorLearningPreferences"
            value="2">
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="OutdoorLearningPreferences-2">Hearing loop</label>
        </div>
    </div>

        
    </div>

        </fieldset>
    
</div>
        </div>
        <div class="ip-event-booking__section ip-event-booking__consent">
            



<h2
  class="bc-heading bc-heading--title fs-!-margin-top-5"
>
    Sharing your contact details
</h2>

            











<div class="bc-form-row">
    
        
    
    
    <div 
        data-module="bc-checkbox" 
        class="bc-checkbox">
        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxSingle-1"
            name="ExampleCheckboxSingle"
            value="1" required>
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxSingle-1">I consent for my contact details (name, job title, institution and email address) to be shared with third party organisations who are supporting this event, in line with our Privacy Policy</label>
        </div>
    </div>

        
    </div>

    
</div>
        </div>
        <div class="bc-button-group">
            
            <button data-module="bc-button" class="bc-button fs-!-margin-top-7" data-appearance="secondary" name="testName" value="testValue" type="submit">
                <span class="bc-button__label">Add an extra person
                    <i class="fa-solid fa-plus-large fs-!-margin-left-1"></i>
                </span>
            </button>
            








	<button
	data-module="bc-button"
	class="bc-button fs-!-margin-top-3" data-appearance="primary" name="testName" value="testValue"

		type="submit"
	>
		<span class="bc-button__label">Add to cart</span>
</button>
            <a class="fs-!-margin-top-5" href="#" title="">Cancel</a>
        </div>
        
</form>

    </div>


                            </main>
                        </article>
                    
                </div>
            </div>
        </div>
    </div>
    
    
    

        </main>
        
        





<footer data-module="bc-footer" class="bc-footer"
>
    <div class="bc-container">
        <div class="bc-container__inner">
            <div class="bc-footer__top-tier">
                <img
    data-module="bc-logo"
    class="bc-logo"
    alt="Ciarb Crest"
	src="/images/ciarb-crest.svg">

                <nav class="bc-footer__navigation">
                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                </nav>
            </div>

            

<ul
    data-module="bc-list" data-style="socials-inline"
    class="bc-list bc-footer__social-media">
    
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-facebook-f"></i>
                        <span class="sr-only">Facebook</span>
                    </a>	
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-twitter"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-instagram"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-youtube"></i>
                        <span class="sr-only">Youtube</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-linkedin-in"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
            
</ul>

        
            <div class="bc-footer__copyright">
                <p class="bc-footer__copyright-copy">
                    The Chartered Institute of Arbitrators, 12 Bloomsbury Square, London, WC1A 2LP<br>
                    UK A charity incorporated by Royal Charter and registered at the Charity Commission of England and Wales under number 803725
                </p>
            
                <div class="bc-footer__copyright-links">
                    <a href="#" title="">Privacy Policy</a>
                    <a href="#" title="">Terms and Conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>






