





<dl
	data-module="bc-review-list"
	class="bc-review-list">
		<div class="bc-review-list__item">
			<dt class="bc-review-list__key">Chantel Hall</dt>
				<dd class="bc-review-list__controls">
					


<div
	data-module="bc-tooltip"
	class="bc-tooltip">
	<button class="bc-tooltip__toggle" type="button" data-type="menu">
			

<i 
    class="bc-icon fa-regular fa-ellipsis-vertical bc-tooltip__toggle-icon"
>
</i>
			<span class="fs-!-sr">Options</span>
	</button>
	<div class="bc-tooltip__body" id="ReviewListMenu1">
		
						<ul
	class="bc-tooltip__menu">
	
		<li class="bc-tooltip__menu-item">
				<a 
					class="bc-tooltip__menu-link"
					href="#">Edit contact</a>
		</li>
	
		<li class="bc-tooltip__menu-item">
				<a 
					class="bc-tooltip__menu-link"
					href="#">Delete contact</a>
		</li>
	
</ul>
					
		
	</div>
</div>
				</dd>
		</div>
		<div class="bc-review-list__item">
			<dt class="bc-review-list__key">Hildred Ahn</dt>
				<dd class="bc-review-list__value">consequat.david69@consecteturullamco.net</dd>
				<dd class="bc-review-list__controls">
					


<div
	data-module="bc-tooltip"
	class="bc-tooltip">
	<button class="bc-tooltip__toggle" type="button" data-type="menu">
			

<i 
    class="bc-icon fa-regular fa-ellipsis-vertical bc-tooltip__toggle-icon"
>
</i>
			<span class="fs-!-sr">Options</span>
	</button>
	<div class="bc-tooltip__body" id="ReviewListMenu2">
		
						<ul
	class="bc-tooltip__menu">
	
		<li class="bc-tooltip__menu-item">
				<a 
					class="bc-tooltip__menu-link"
					href="#">Edit contact</a>
		</li>
	
		<li class="bc-tooltip__menu-item">
				<a 
					class="bc-tooltip__menu-link"
					href="#">Delete contact</a>
		</li>
	
</ul>
					
		
	</div>
</div>
				</dd>
		</div>
</dl>


