








<article
    data-module="bc-signpost-positioned-image"
    class="bc-signpost-positioned-image">
        <div class="bc-signpost-positioned-image__image">
            

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Ciarb Groups Icon"
		src="/images/temp/homepage-group-card-icon-1.svg"
	>
</div>

        </div>
    <header class="bc-signpost-positioned-image__header">
        



<strong
  class="bc-heading bc-heading--small-subtitle bc-signpost-positioned-image__heading"
>
    Our Special Interest Groups
</strong>

    </header>
        <div
    class="bc-prose bc-signpost-positioned-image__body">
    
            
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        
</div>

        <footer class="bc-signpost-positioned-image__footer">
            <a class="bc-signpost-positioned-image__link" href="#">
                <span class="bc-signpost-positioned-image__link-text">Learn more about SIGs</span>
                

<i 
    class="bc-icon fa-regular fa-arrow-right bc-signpost-positioned-image__link-icon"
>
</i>
            </a>
        </footer>
</article>

