






<div
    data-module="bc-tab"
    class="bc-tab">
    <ul class="bc-tab__list">
            <li class="bc-tab__item">
                <a
                    class="bc-tab__tab"
                    href="#Panel1">
                    Panel 1
                </a>
            </li>
            <li class="bc-tab__item">
                <a
                    class="bc-tab__tab"
                    href="#Panel2">
                    Panel 2
                </a>
            </li>
            <li class="bc-tab__item">
                <a
                    class="bc-tab__tab"
                    href="#Panel3">
                    Panel 3
                </a>
            </li>
    </ul>
    
	<div
    class="bc-tab__panel"
    id="Panel1">
    
		<div
    data-module="bc-grid"
    class="bc-grid">
    
			



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
				<div
    class="bc-prose">
    
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
				
</div>

			
                </div>
        </div>
</article>
			



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
				<div
    class="bc-prose">
    
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
				
</div>

			
                </div>
        </div>
</article>
			



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
				<div
    class="bc-prose">
    
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
				
</div>

			
                </div>
        </div>
</article>
		
</div>
	
</div>
	<div
    class="bc-tab__panel"
    id="Panel2">
    
		<div
    class="bc-prose">
    
			<h2>Panel 2</h2>
			<p>Nobis maiores, blanditiis dicta quas natus quae possimus animi porro cupiditate ea ratione cumque quis aut cum eius repudiandae fugit, ipsum repellat, corporis sit autem tempora! Quasi magni dolores esse.</p>
			<p>Perferendis ducimus fugit repellendus delectus officia architecto vero non, animi sed! Quo quibusdam commodi distinctio dolores et cupiditate, architecto quidem. Reprehenderit incidunt ea distinctio alias ab suscipit at officiis labore!</p>
			<p>Ut, nulla? Quis placeat unde reiciendis, debitis vel, error ipsa id odit distinctio impedit iste assumenda laudantium quos ratione optio molestias minus! Sapiente ab soluta reprehenderit necessitatibus laudantium magnam quisquam?</p>
		
</div>

	
</div>
	<div
    class="bc-tab__panel"
    id="Panel3">
    
		<div
    class="bc-prose">
    
			<h2>Panel 3</h2>
			<p>Architecto natus praesentium, reiciendis similique ea odit possimus deleniti eum nisi recusandae illo expedita tempora aliquid repellat, modi quas ad nostrum aperiam. Cupiditate itaque debitis blanditiis totam porro error distinctio.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod rerum, harum quia sequi adipisci voluptate id! Ad accusantium, nostrum quidem neque perspiciatis, mollitia eius quisquam voluptatibus error excepturi quibusdam eum.</p>
			<p>Assumenda quidem quam eum vero blanditiis labore suscipit laudantium odio deserunt nobis eius quis eaque impedit vel voluptatibus, inventore voluptas ipsam harum! Velit adipisci quasi possimus dolore fuga, nulla ratione.</p>
		
</div>

	
</div>

</div>


<ul>
	<li><a data-test href="#Panel1">Link to panel 1</a></li>
	<li><a data-test href="#Panel2">Link to panel 2</a></li>
	<li><a data-test href="#Panel3">Link to panel 3</a></li>
	<li><a data-test href="#StElsewhere">Unrelated link</a></li>
</ul>
