



<!-- Demo div, as tooltips should always appear to the right of other content. -->
<div style="float:right;padding:2rem;">

	


<div
	data-module="bc-tooltip"
	class="bc-tooltip">
	<button class="bc-tooltip__toggle" type="button" data-type="help">
			

<i 
    class="bc-icon fa-regular fa-circle-info bc-tooltip__toggle-icon"
>
</i>
			<span class="fs-!-sr">Help</span>
	</button>
	<div class="bc-tooltip__body" id="ShortTooltip">
		Get help.
		
	</div>
</div>
	
</div>
<div style="float:right;padding:2rem;">

	


<div
	data-module="bc-tooltip"
	class="bc-tooltip">
	<button class="bc-tooltip__toggle" type="button" data-type="help">
			

<i 
    class="bc-icon fa-regular fa-circle-info bc-tooltip__toggle-icon"
>
</i>
			<span class="fs-!-sr">Help</span>
	</button>
	<div class="bc-tooltip__body" id="ShortTooltip">
		This is the content of a rather long tooltip. Adipisicing excepteur dolor officia eiusmod eiusmod sint non ad laborum quis ut. Aute voluptate ad in minim officia amet deserunt qui eiusmod. Occaecat cupidatat ex esse aliqua. Enim esse non enim aute dolor in nisi consectetur. Adipisicing nulla cupidatat aliqua anim occaecat consequat fugiat consectetur ipsum occaecat magna ut et.
		
			<button class="bc-tooltip__close" type="button">
				

<i 
    class="bc-icon fa-regular fa-circle-info"
>
</i>
			</button>
		
	</div>
</div>

</div>
<div style="float:right;padding:2rem;">

	


<div
	data-module="bc-tooltip"
	class="bc-tooltip">
	<button class="bc-tooltip__toggle" type="button" data-type="menu">
			

<i 
    class="bc-icon fa-regular fa-ellipsis-vertical bc-tooltip__toggle-icon"
>
</i>
			<span class="fs-!-sr">Options</span>
	</button>
	<div class="bc-tooltip__body" id="TooltipContextMenu">
		
		<ul
	class="bc-tooltip__menu">
	
		<li class="bc-tooltip__menu-item">
				<a 
					class="bc-tooltip__menu-link"
					href="#">Follow</a>
		</li>
	
		<li class="bc-tooltip__menu-item">
				<a 
					class="bc-tooltip__menu-link"
					href="#">Already visited</a>
		</li>
	
		<li class="bc-tooltip__menu-item">
				<a 
					class="bc-tooltip__menu-link"
					href="#">Not for me</a>
		</li>
	
		<li class="bc-tooltip__menu-item">
				<button
					class="bc-tooltip__menu-link"
					type="button">This one&#39;s a button</button>
		</li>
	
</ul>
	
		
	</div>
</div>

</div>
<div style="float:right;padding:2rem;">
	
	


<div
	data-module="bc-tooltip"
	class="bc-tooltip">
	<button class="bc-tooltip__toggle" type="button" data-type="star">
			

<i 
    class="bc-icon fa-regular fa-star bc-tooltip__toggle-icon"
>
</i>
			<span class="fs-!-sr">Star</span>
	</button>
	<div class="bc-tooltip__body" id="TooltipCTA">
		
		<div>Ut laboris ea adipisicing dolor elit esse duis officia laborum.</div>
		<div class="bc-tooltip__cta">
		<button 
			class="bc-cta-link-underline bc-tooltip__cta-link" 
			type="">Undo</button>
</div>
	
		
	</div>
</div>
	
</div>
