{% extends '@t-left-sidebar' %}

{% from "prose/macro.njk" import bcProse %}
{% from "heading/macro.njk" import bcHeading %}
{% from "grid/macro.njk" import bcGrid %}
{% from "button/macro.njk" import bcButton %}
{% from "card/macro.njk" import bcCard %}
{% from "hero-banner/macro.njk" import bcHeroBanner %}
{% from "image/macro.njk" import bcImage %}
{% from "banner/macro.njk" import bcBanner %}

{% block breadcrumbs %}
    {{ bcBreadcrumbs({
		items: [
            { text: 'Home', href: '/' },
			{ text: 'Category page', href: '#' },
			{ text: 'Sub-Category page', href: '#', current: true }
		]
	}) }}
{% endblock %}

{% block beforeTemplate %}
                
	{% call bcHeroBanner({
		classes: 'ip-sub-category--bc-event-card-min-height',
		heading: {
			text: 'Membership types',
			hierarchy: 1
		},
		image: {
			src: ('/images/temp/membership-types.jpg' | path),
			alt: 'Anim magna laborum sint anim nisi reprehenderit laboris amet.'
		}
	}) %}
		{% call bcProse() %}
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
				aliqua.
			</p>
		{% endcall %}
	{% endcall %}

{% endblock %}

{% block body %}
    <div class="ip-sub-category">

        {{ bcHeading({
			hierarchy: 2,
			text: 'Our membership grades'
		}) }}

		{% call bcProse({
		}) %}
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
			</p>
		{% endcall %}

        <div class="ip-sub-category__membership-type">
            
			{% call bcGrid({
				size: '1/2'
			}) %}
            
				{% call bcCard({
					category: true,
					href: '#',
					heading: {
						text: 'Student membership',
						hierarchy: 3
					},
					image: {
						src: ('/images/temp/event-hero-temp-background.png' | path),
						alt: 'Anim magna.'
					}
				}) %}
					{% call bcProse() %}
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					{% endcall %}
					{{ bcButton({
						appearance: 'link',
						html: 'Find out more <i class="fa-solid fa-arrow-right"></i>'
					}) }}
				{% endcall %}

				{% call bcCard({
					category: true,
					href: '#',
					heading: {
						text: 'Professional membership',
						hierarchy: 3
					},
					image: {
						src: ('/images/temp/event-hero-temp-background.png' | path),
						alt: 'Anim magna.'
					}
				}) %}
					{% call bcProse() %}
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					{% endcall %}
					{{ bcButton({
						appearance: 'link',
						html: 'Find out more <i class="fa-solid fa-arrow-right"></i>'
					}) }}
				{% endcall %}

				{% call bcCard({
					category: true,
					href: '#',
					heading: {
						text: 'Chartered membership',
						hierarchy: 3
					},
					image: {
						src: ('/images/temp/event-hero-temp-background.png' | path),
						alt: 'Anim magna.'
					}
				}) %}
					{% call bcProse() %}
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					{% endcall %}
					{{ bcButton({
						appearance: 'link',
						html: 'Find out more <i class="fa-solid fa-arrow-right"></i>'
					}) }}
				{% endcall %}

				{% call bcCard({
					category: true,
					href: '#',
					heading: {
						text: 'Fellow membership',
						hierarchy: 3
					},
					image: {
						src: ('/images/temp/event-hero-temp-background.png' | path),
						alt: 'Anim magna.'
					}
				}) %}
					{% call bcProse() %}
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					{% endcall %}
					{{ bcButton({
						appearance: 'link',
						html: 'Find out more <i class="fa-solid fa-arrow-right"></i>'
					}) }}
				{% endcall %}

            {% endcall %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% from "sub-nav/macro.njk" import bcSubnav %}
    {{ bcSubnav({
        classes: 'bc-sub-nav--content-page',
		items: [
			{ href: '#', text: 'Membership overview' },
			{ href: '#', text: 'Membership types', current: true, items: [
                { href: '#', text: 'Student' },
                { href: '#', text: 'Professional' },
                { href: '#', text: 'Chartered Arbitrator' }
            ] },
			{ href: '#', text: 'Membership benefits' },
			{ href: '#', text: 'How to join CAIrb' }
		]
	}) }}
{% endblock %}

{% block afterTemplate %}
	{% call bcBanner({
		secondary_color: true,
		heading: {
			text: 'Just interested in ADR?',
			hierarchy: 2
		},
		button: {
			appearance: 'primary',
			href: '#',
			text: 'Primary CTA'
		}
	}) %}
		{% call bcProse() %}
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		{% endcall %}
	{% endcall %}			
{% endblock %}

{% block styles %}
    <style>
        .it-left-sidebar {
			margin-bottom: 0;
        }
    </style>
{% endblock %}