

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	






<div 
    data-module="bc-cart" 
    class="bc-cart"
>
    <ul class="bc-cart__list">
            <li class="bc-cart__item">
                    <div class="bc-cart__item-inner">
                        <p class="bc-cart__item-name">Discussion of the CIArb Guidelines on Expert Witness Conferences</p>
                                 <p class="bc-cart__item-details">Event</p>
                            
                        
                    </div>
                
                    <div class="bc-cart__item-total">
                        <p class="bc-cart__item-price">£30</p> 
                        
                            








	<button
	data-module="bc-button"
	class="bc-button bc-cart__item-remove" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Remove</span>
</button>
                        
                    </div>
                
            </li>
            <li class="bc-cart__item">
                    <div class="bc-cart__item-inner">
                        <p class="bc-cart__item-name">Student: Introduction to ADR Online Course &amp; Assessment</p>
                        
                    </div>
                
                    <div class="bc-cart__item-total">
                        <p class="bc-cart__item-price">£5</p> 
                        
                            








	<button
	data-module="bc-button"
	class="bc-button bc-cart__item-remove" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Remove</span>
</button>
                        
                    </div>
                
            </li>
            <li class="bc-cart__item bc-cart__invoiced-item">
                    <div class="bc-cart__item-inner">
                        <p class="bc-cart__item-name">Student CIArb Membership</p>
                               






<div
    data-module="bc-alert"
    class="bc-alert">
    <span class="bc-alert__icon bc-alert--warning">
            

<i 
    class="bc-icon fa-regular fa-exclamation"
>
</i>
    </span>
        <div
    class="bc-prose bc-alert__body">
    
            
                                    <p>This product is eligible to be paid by invoice by your company.</p>
                                
        
</div>

</div>

                            
                        
                    </div>
                
                    <div class="bc-cart__item-total">
                        <p class="bc-cart__item-price">£XX</p> 
                        
                            








	<button
	data-module="bc-button"
	class="bc-button bc-cart__item-remove" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Remove</span>
</button>
                        
                    </div>
                
            </li>
    </ul>
</div>







<div 
    data-module="bc-cart" 
    class="bc-cart" data-position="sidebar"
>
    <ul class="bc-cart__list">
            <li class="bc-cart__item">
                    <div class="bc-cart__item-inner">
                        <p class="bc-cart__item-name">Discussion of the CIArb Guidelines on Expert Witness Conferences</p>
                    </div>
                
                    <div class="bc-cart__item-total">
                        <p class="bc-cart__item-price">£30</p> 
                        
                            








	<button
	data-module="bc-button"
	class="bc-button bc-cart__item-remove" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Remove</span>
</button>
                        
                    </div>
                
            </li>
            <li class="bc-cart__item">
                    <div class="bc-cart__item-inner">
                        <p class="bc-cart__item-name">Student: Introduction to ADR Online Course &amp; Assessment</p>
                    </div>
                
                    <div class="bc-cart__item-total">
                        <p class="bc-cart__item-price">£5</p> 
                        
                            








	<button
	data-module="bc-button"
	class="bc-button bc-cart__item-remove" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Remove</span>
</button>
                        
                    </div>
                
            </li>
            <li class="bc-cart__item">
                    <div class="bc-cart__item-inner">
                        <p class="bc-cart__item-name">Student CIArb Membership</p>
                    </div>
                
                    <div class="bc-cart__item-total">
                        <p class="bc-cart__item-price">£XX</p> 
                        
                            








	<button
	data-module="bc-button"
	class="bc-button bc-cart__item-remove" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Remove</span>
</button>
                        
                    </div>
                
            </li>
    </ul>
</div>

    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
