

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	













<div class="bc-form-row">
    
        
    
    
    <div 
        data-module="bc-checkbox" 
        class="bc-checkbox">
        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxSingle-1"
            name="ExampleCheckboxSingle"
            value="1" required>
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxSingle-1">A single checkbox</label>
        </div>
    </div>

        
    </div>

    
</div>






    
    








<div class="bc-form-row">
    
        <fieldset 
            class="bc-fieldset" aria-describedby=" ExampleCheckboxGroup-Hint">
            
                <legend class="bc-fieldset__legend">
                    <span class="bc-label">Overall question for which these checkboxes are prospective answers</span>
                </legend>
            
            
    
        <div class="bc-hint" id="ExampleCheckboxGroup-Hint">
            A hint relating to the question as a whole.
        </div>
    
    
    <div 
        data-module="bc-checkbox" 
        class="bc-checkbox">
        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroup-1"
            name="ExampleCheckboxGroup"
            value="1" required>
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroup-1">Default checkbox</label>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroup-2"
            name="ExampleCheckboxGroup"
            value="2" checked>
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroup-2">Pre-checked checkbox</label>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroup-3"
            name="ExampleCheckboxGroup"
            value="3" aria-describedby=" ExampleCheckboxGroup-3-Hint">
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroup-3">Checkbox with hint</label>
                <div class="bc-hint" id="ExampleCheckboxGroup-3-Hint">
                    A hint relating to this specific option.
                </div>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroup-4"
            name="ExampleCheckboxGroup"
            value="4" disabled>
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroup-4">Disabled checkbox</label>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroup-5"
            name="ExampleCheckboxGroup"
            value="5" checked disabled>
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroup-5">Disabled and pre-checked checkbox</label>
        </div>
    </div>

        
    </div>

        </fieldset>
    
</div>







    
    








<div class="bc-form-row">
    
        <fieldset 
            class="bc-fieldset" aria-describedby=" ExampleCheckboxGroupHorizontal-Hint">
            
                <legend class="bc-fieldset__legend">
                    <span class="bc-label">Overall question for which these checkboxes are prospective answers</span>
                </legend>
            
            
    
        <div class="bc-hint" id="ExampleCheckboxGroupHorizontal-Hint">
            A hint relating to the question as a whole.
        </div>
    
    
    <div 
        data-module="bc-checkbox" 
        class="bc-checkbox" data-layout="horizontal">
        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroupHorizontal-1"
            name="ExampleCheckboxGroupHorizontal"
            value="1" required>
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroupHorizontal-1">Default checkbox</label>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroupHorizontal-2"
            name="ExampleCheckboxGroupHorizontal"
            value="2" checked>
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroupHorizontal-2">Pre-checked checkbox</label>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroupHorizontal-3"
            name="ExampleCheckboxGroupHorizontal"
            value="3" aria-describedby=" ExampleCheckboxGroupHorizontal-3-Hint">
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroupHorizontal-3">Checkbox with hint</label>
                <div class="bc-hint" id="ExampleCheckboxGroupHorizontal-3-Hint">
                    A hint relating to this specific option.
                </div>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-checkbox__item">
        <input 
            class="bc-checkbox__input"
            type="checkbox"
            id="ExampleCheckboxGroupHorizontal-4"
            name="ExampleCheckboxGroupHorizontal"
            value="4" disabled>
        <div class="bc-checkbox__body">
            <label 
                class="bc-checkbox__label"
                for="ExampleCheckboxGroupHorizontal-4">Disabled checkbox</label>
        </div>
    </div>

        
    </div>

        </fieldset>
    
</div>

    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
