

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	


<div
    class="bc-prose">
    <h2>Regular</h2>
</div>


<dl
    class="bc-description-list">
    
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		Full name
	</dt>
	<dd class="bc-description-list__value">
			John Doe
	</dd>
</div>
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		Email
	</dt>
	<dd class="bc-description-list__value">
			john.doe@felinesoft.com
	</dd>
</div>
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		About
	</dt>
	<dd class="bc-description-list__value">
			
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eos, nostrum fugit porro iste. Eum, illum ullam aspernatur. Quae reiciendis praesentium fuga similique minima sequi non illo sint officia nisi?</p>
        
</div>

    
	</dd>
</div>

</dl>


<div
    class="bc-prose">
    <h2>Wide</h2>
</div>


<dl
    class="bc-description-list bc-description-list--wide">
    
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		Full name
	</dt>
	<dd class="bc-description-list__value">
			John Doe
	</dd>
</div>
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		Email
	</dt>
	<dd class="bc-description-list__value">
			john.doe@felinesoft.com
	</dd>
</div>
    <div 
	class="bc-description-list__item">
	<dt class="bc-description-list__key">
		About
	</dt>
	<dd class="bc-description-list__value">
			
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eos, nostrum fugit porro iste. Eum, illum ullam aspernatur. Quae reiciendis praesentium fuga similique minima sequi non illo sint officia nisi?</p>
        
</div>

    
	</dd>
</div>

</dl>

    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
