

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	






<details
	data-module="bc-details"
	class="bc-details bc-details--no-border">
	<summary>
		<div class="bc-details__summary">
			<div class="bc-details__heading">
				<div class="bc-details__heading-inner">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
</h3>

				</div>
			</div>
			

<i 
    class="bc-icon fa-regular fa-chevron-down bc-details__icon"
>
</i>
		</div>
	</summary>
	<div class="bc-details__body">
		
	<div
    class="bc-prose">
    
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nostrum excepturi ut facilis atque facere suscipit
		error inventore modi perspiciatis quibusdam ab recusandae animi, quis in ipsa libero aliquid quos?
	</p>
	
</div>


	</div>
</details>






<details
	data-module="bc-details"
	class="bc-details bc-details--with-avatar">
	<summary>
		<div class="bc-details__summary">
				

<div
	data-module="bc-avatar"
	class="bc-avatar bc-avatar--medium"
>
	<img
		class="bc-avatar__image"
		alt="Jane Smith"
		src="https://images.unsplash.com/photo-1595085610896-fb31cfd5d4b7?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=867&amp;q=80"
	>
</div>

			
			<div class="bc-details__heading">
				<div class="bc-details__heading-inner">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    First and last name
</h3>

						<span>Job description</span>
					
				</div>
			</div>
			

<i 
    class="bc-icon fa-regular fa-chevron-down bc-details__icon"
>
</i>
		</div>
	</summary>
	<div class="bc-details__body">
		
	<div
    class="bc-prose">
    
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nostrum excepturi ut facilis atque facere suscipit
		error inventore modi perspiciatis quibusdam ab recusandae animi, quis in ipsa libero aliquid quos?
	</p>
	
</div>


	</div>
</details>






<details
	data-module="bc-details"
	class="bc-details bc-details--read-more">
	<summary>
		<div class="bc-details__summary">
			<div class="bc-details__heading">
				<div class="bc-details__heading-inner">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat 
						
						<p class="fs-!-margin-top-1 bc-button" data-appearance="link">
							Read more 
							<i class="fa-regular fa-plus bc-details__icon fs-!-margin-left-1"></i>
						</p>
					
				</div>
			</div>
			

<i 
    class="bc-icon fa-regular fa-chevron-down bc-details__icon"
>
</i>
		</div>
	</summary>
	<div class="bc-details__body">
		
	<div
    class="bc-prose">
    
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nostrum excepturi ut facilis atque facere
			suscipit error inventore modi perspiciatis quibusdam ab recusandae animi, quis in ipsa libero aliquid quos? Lorem ipsum
			dolor sit amet consectetur adipisicing elit.
		</p>
		<p>
			Repellendus nostrum excepturi ut facilis atque facere suscipit error inventore modi perspiciatis quibusdam abrecusandae animi, quis in ipsa libero aliquid quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nostrum excepturi ut facilis atque facere suscipit error inventore modi perspiciatis quibusdam ab recusandae animi, quis in ipsa libero aliquid quos?
		</p>
	
</div>


	</div>
</details>

    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
