

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	




<div
	class="bc-feedback-message">
	<span class="bc-feedback-message__label">Your application reference number is ABC012345.</span>
</div>





<div
	class="bc-feedback-message" data-size="large">
	<span class="bc-feedback-message__label">Your application reference number is ABC012345.</span>
</div>




	

<div
	class="bc-feedback-message" data-type="success">
	<span class="bc-feedback-message__label">Document uploaded.</span>
</div>




	

<div
	class="bc-feedback-message" data-size="large" data-type="success">
	<span class="bc-feedback-message__label">Document uploaded.</span>
</div>




	

<div
	class="bc-feedback-message" data-type="warning">
	<span class="bc-feedback-message__label">This page will self-destruct in 90 seconds.</span>
</div>




	

<div
	class="bc-feedback-message" data-size="large" data-type="warning">
	<span class="bc-feedback-message__label">This page will self-destruct in 90 seconds.</span>
</div>




	

<div
	class="bc-feedback-message" data-type="danger">
	<span class="bc-feedback-message__label">Avoid uploading .doc files. Save as .docx if possible.</span>
</div>




	

<div
	class="bc-feedback-message" data-size="large" data-type="danger">
	<span class="bc-feedback-message__label">Avoid uploading .doc files. Save as .docx if possible.</span>
</div>




	

<div
	class="bc-feedback-message" data-type="error">
	<span class="bc-feedback-message__label">Upload failed. The file you uploaded was too large.</span>
</div>




	

<div
	class="bc-feedback-message" data-size="large" data-type="error">
	<span class="bc-feedback-message__label">Upload failed. The file you uploaded was too large.</span>
</div>



    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
