

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	



<div
    data-module="bc-grid"
    class="bc-grid">
    
	



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Grid Item
</h3>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>

</div>


<div
    data-module="bc-grid"
    class="bc-grid" data-size="1/2">
    
	



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>
    



<article
	data-module="bc-card"
	class="bc-card"
> 
				<a href="">
				<header class="bc-card__header">
					



<h4
  class="bc-heading bc-heading--small-subtitle"
>
    Card title
</h4>

				</header> 
				</a>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
        <div
    class="bc-prose">
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        
</div>

    
                </div>
        </div>
</article>

</div>
    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
