

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	





<h1
  class="bc-heading bc-heading--jumbotron"
>
    H1 page title
</h1>






<h2
  class="bc-heading bc-heading--title"
>
    H2 title
</h2>






<h3
  class="bc-heading bc-heading--subtitle"
>
    H3 title
</h3>






<h4
  class="bc-heading bc-heading--small-subtitle"
>
    H4 title
</h4>






<h5
  class="bc-heading bc-heading--byline"
>
    H5 title
</h5>

    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
