

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	





<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        Input
            <span class="bc-label__optional">(optional)</span>
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput"

                type="text">
        
</div>





<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        Input
            <span class="bc-label__optional">(optional)</span>
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput"

                type="text" value="Example">
        
</div>





<div class="bc-form-row">
    <label class="bc-label" for="ExampleInputMask">
        Input with prefix and suffix
            <span class="bc-label__optional">(optional)</span>
    </label>
        
            <div class="bc-input-mask">
                    <span class="bc-input-mask__prefix" aria-hidden="true">£</span>
                
            <input
    class="bc-input"
    id="ExampleInputMask"
    name="ExampleInputMask"

                type="text">
        
                    <span class="bc-input-mask__suffix" aria-hidden="true">per unit</span>
            </div>
</div>





<div class="bc-form-row">
    <label class="bc-label" for="ExampleInputLength">
        Input with maximum size
            <span class="bc-label__optional">(optional)</span>
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInputLength"
    name="ExampleInputLength" data-length="4"

                type="text">
        
</div>





<div class="bc-form-row">
    <label class="bc-label" for="ExampleInputHint">
        Input with hint
            <span class="bc-label__optional">(optional)</span>
    </label>
        
        
        <div class="bc-hint" id="ExampleInputHint-Hint">
            This is a short line of hint copy.
        </div>
        
            
            <input
    class="bc-input"
    id="ExampleInputHint"
    name="ExampleInputHint"

                type="text" aria-describedby=" ExampleInputHint-Hint">
        
</div>





<div class="bc-form-row bc-form-row--error ">
    <label class="bc-label" for="ExampleInputError">
        Input with error
            <span class="bc-label__optional">(optional)</span>
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInputError"
    name="ExampleInputError" aria-invalid="true"

                type="text">
        
        
        
        <div class="bc-error" id="ExampleInputError-Error">
            <span class="bc-error__icon">
                

<i 
    class="bc-icon fa-regular fa-exclamation"
>
</i>
            </span>
            This is a short line of error copy.
        </div>
</div>





<div class="bc-form-row bc-form-row--error ">
    <label class="bc-label" for="ExampleInputError">
        Input with error
            <span class="bc-label__optional">(optional)</span>
    </label>
        
        
        <div class="bc-hint" id="ExampleInputError-Hint">
            This is a short line of hint copy.
        </div>
        
            
            <input
    class="bc-input"
    id="ExampleInputError"
    name="ExampleInputError" aria-invalid="true"

                type="text" aria-describedby=" ExampleInputError-Hint">
        
        
        
        <div class="bc-error" id="ExampleInputError-Error">
            <span class="bc-error__icon">
                

<i 
    class="bc-icon fa-regular fa-exclamation"
>
</i>
            </span>
            This is a short line of error copy.
        </div>
</div>





<div class="bc-form-row">
    <label class="bc-label" for="ExampleInputDisabled">
        Disabled input
            <span class="bc-label__optional">(optional)</span>
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInputDisabled"
    name="ExampleInputDisabled" disabled

                type="text">
        
</div>





<div class="bc-form-row">
    <label class="bc-label" for="ExampleInputTextarea">
        Textarea
            <span class="bc-label__optional">(optional)</span>
    </label>
        <textarea
    class="bc-input bc-input--textarea"
    id="ExampleInputTextarea"
    name="ExampleInputTextarea"
></textarea>
</div>

    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
