

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	





<div
    data-module="bc-organisation-card"
    class="bc-organisation-card bc-organisation-card--">
    <div class="bc-organisation-card__body">
        <div class="bc-organisation-card__body">
                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Organisation name
</h3>

            <div class="bc-organisation-card__type">
                <p class="bc-organisation-card__label" id="organisation-type">Organisation type</p>
                <p aria-describedby="organisation-type">XXXXXX</p>
            </div>
            <div class="bc-organisation-card__address">
                <p class="bc-organisation-card__label" id="organisation-address">Organisation address</p>
                <address aria-describedby="organisation-address">8th Floor, Kings Buildings, 16 Smith Square London SW1P 3HQ</address>
            </div>
        </div>
    </div>
    <div class="bc-organisation-card__cta">
        








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Edit organisation details</span>
</button>
        








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="secondary"

		type="submit"
	>
		<span class="bc-button__label">Add a new person</span>
</button>
    </div>
</div>

    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
