

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	





<div class="wrapper">
    <div class="site"> 
    
        
    
        







<header id="master-header" data-module="bc-header" class="bc-header">
   <div class="bc-header__non-search">
      <a class="bc-header__logo-container-tablet" href="#" title="">
         <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

      </a>
      <button type="button" class="bc-header__nav-toggle" id="burger">
         Menu
         <span class="bc-header__nav-toggle-icon">
            

<i 
    class="bc-icon fa-regular fa-bars"
>
</i>
         </span>
      </button>
      <a class="bc-header__logo-container_mobile" href="#" title="">
         <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

      </a>
      <div class="bc-header__main-menu-container" id="navbar">
         <ul class="bc-header__main-menu">
            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        About us
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Join ciarb
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Training
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Network & communities
                     </span>
                  </a>
               </div>
            </li>
               <li class="bc-header__menu-item">
                  

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
                     <button class="bc-button bc-header__menu-item-text bc-header__menu-item-bold">
                        

<i 
    class="bc-icon fa-regular fa-user fs-!-margin-right-1"
>
</i> 
                        Login
                     </button>
                  
</form>

               </li>
         </ul>

         <div class="bc-button-row">
            <a class="bc-header__contact-link" href="#" title="">Contact us</a>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Join CIArb</span>
</a>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="secondary"

		href="#"
	>
		<span class="bc-button__label">Member directory</span>
</a>
         </div>

      </div>
      
      <a class="bc-header__contact-link hide-on-mobile" href="#" title="">Contact us</a>
      


  







	<a
	data-module="bc-button"
	class="bc-button bc-header__navbar-members" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Join us</span>
</a>
      


  







	<a
	data-module="bc-button"
	class="bc-button bc-header__navbar-members" data-appearance="secondary"

		href="#"
	>
		<span class="bc-button__label">Member directory</span>
</a>
         

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
            <button class="bc-header__navbar-user">
               

<i 
    class="bc-icon fa-regular fa-arrow-right-to-bracket fs-!-margin-right-1"
>
</i>
               Login / Register
            </button>
         
</form>

      

      <button class="bc-header__navbar-cart">
         

<i 
    class="bc-icon fa-regular fa-basket-shopping"
>
</i>
         <span class="sr-only">Basket</span>
      </button>
      <button class="bc-header__navbar-search" data-toggle-search>
         

<i 
    class="bc-icon fa-regular fa-magnifying-glass"
>
</i>
         <span class="sr-only">Search</span>
      </button>
      <div class="bc-header__search bc-header__search-desktop">
         

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
            



<div class="bc-form-row">
    <label class="bc-label" for="search">
        
    </label>
        
            
            <input
    class="bc-input bc-header__search_input"
    id="search"
    name="search" placeholder="Type to search" required

                type="text">
        
</div>
            








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Search</span>
</button>
         
</form>


         <button class="bc-header__search-close" data-toggle-search>
            

<i 
    class="bc-icon fa-regular fa-times"
>
</i>
            <span class="sr-only">Close search</span>
         </button>
      </div>
      <div class="bc-header__quick-nav">
         <a class="bc-header__logo-container" href="#" title="">
            <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

         </a>
         <ul class="bc-header__quick-nav-menu">
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  About us
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>
               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 4</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 5</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 6</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 7</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 8</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 9</a>
                  </li>
               </ul>
            </li>
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Join ciarb
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Training
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" aria-current="page">
                  Network & communities
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Resolve disputes
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>

            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               
               <a href="#" title="">
                  News & insights
                   <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

            </li>

         </ul>
      </div>
   </div>

   <div class="bc-header__search bc-header__search-mobile">
      

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
         



<div class="bc-form-row">
    <label class="bc-label" for="search">
        
    </label>
        
            
            <input
    class="bc-input bc-header__search_input"
    id="search"
    name="search" placeholder="Type to search" required

                type="text">
        
</div>
         








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Search</span>
</button>
      
</form>


      <button class="bc-header__search-close" data-toggle-search>
         

<i 
    class="bc-icon fa-regular fa-times"
>
</i>
         <span class="sr-only">Close search</span>
      </button>

   </div>
</header>

        <main id="content">
            <div class="bc-container"> 
                <div class="bc-container__inner"> 
                    
	
<nav
	data-module="bc-breadcrumbs"
	aria-label="Breadcrumb"
	class="bc-breadcrumbs"
>
	<ul class="bc-breadcrumbs__list">
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="/"
				>Home</a>
			</li>
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="#" aria-current="page"
				>Basket</a>
			</li>
	</ul>
</nav>


                </div>
            </div>
            
            
    <div class="it-right-sidebar">
        <div class="it-right-sidebar__inner">
            <div class="bc-container">
                <div class="bc-container__inner">
                    
                    
                    

                    
                        <article class="it-right-sidebar__document">
                            <main class="it-right-sidebar__body">
                                
	
	
	
	
	
    
    
    
    


	<div class="ip-billing">
         <div data-module="bc-step-indicator" class="bc-step-indicator">
        <div class="bc-step-indicator__step complete">
            <div class="bc-step-indicator__step-number">
                

<i 
    class="bc-icon fa-regular fa-check"
>
</i>
            </div>
            <div class="bc-step-indicator__body">
                <p><strong>Step 1</strong></p>
                <p>Basket</p>
            </div> 
        </div>
        <div class="bc-step-indicator__line complete"></div>
        <div class="bc-step-indicator__step" aria-current="step">
            <div class="bc-step-indicator__step-number">2</div>
            <div class="bc-step-indicator__body">
                <p><strong>Step 2</strong></p>
                <p>Billing</p>
            </div> 
        </div>
        <div class="bc-step-indicator__line"></div>
        <div class="bc-step-indicator__step">
            <div class="bc-step-indicator__step-number">3</div>
            <div class="bc-step-indicator__body">
                <p><strong>Step 3</strong></p>
                <p>Payment</p>
            </div> 
        </div>
    </div>         
        



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Billing
</h1>
	

		

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
            
            



<h2
  class="bc-heading bc-heading--title"
>
    Contact information
</h2>
	
            



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        First name
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="text" value="Michelle">
        
</div>
            



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        Last name
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="text" value="Lorem">
        
</div>
            



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        Email
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="text" value="Email@email.com">
        
</div>

            <div class="ip-billing__address-block fs-!-margin-top-8">
                



<h2
  class="bc-heading bc-heading--title"
>
    Contact information
</h2>
	
                










<div class="bc-form-row">
    <fieldset 
        class="bc-fieldset">
        
        
    
    
    <div 
        data-module="bc-radios" 
        class="bc-radios">
        
            
            
    
    
    <div
        class="bc-radios__item">
        <input 
            class="bc-radios__input"
            type="radio"
            id="BillingAddressSelection-1"
            name="BillingAddressSelection"
            value="UseProfile" checked aria-describedby=" BillingAddressSelection-1-Hint">
        <div class="bc-radios__body">
            <label 
                class="bc-radios__label"
                for="BillingAddressSelection-1">Use default shipping address</label>
                <div class="bc-hint" id="BillingAddressSelection-1-Hint">
                    5 Station Rd, Cirencester, GL7 6GN, United Kingdom
                </div>
                <a href="#" title="">Go to my account to edit</a>
        </div>
    </div>

        
            
            
    
    
    <div
        class="bc-radios__item">
        <input 
            class="bc-radios__input"
            type="radio"
            id="BillingAddressSelection-2"
            name="BillingAddressSelection"
            value="UseShipping">
        <div class="bc-radios__body">
            <label 
                class="bc-radios__label"
                for="BillingAddressSelection-2">Use new address</label>
        </div>
    </div>

        
    </div>

    </fieldset>
</div>
                <div id="ip-contact-information__new-address-billing">
                    



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        Address line 1
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="text" value="5 Station Rd">
        
</div>
					



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        Address line 2
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="text">
        
</div>
					<div class="bc-form-field-group">
						



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        City
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="text">
        
</div>
						



<div class="bc-form-row">
    <label class="bc-label" for="ExampleInput">
        Zip/postal code
    </label>
        
            
            <input
    class="bc-input"
    id="ExampleInput"
    name="ExampleInput" required

                type="text">
        
</div>
					</div>
					

<div class="bc-form-row">
    <label class="bc-label" for="ExampleSelect">
        Country
    </label>
    <div class="bc-select">
        <select
            data-module="bc-select"
            class="bc-select__input fs-!-margin-bottom-0"
            id="ExampleSelect"
            name="ExampleSelect" required>
                <option value="">Please select</option>
                <option value="UK" selected>United Kingdom</option>
                <option value="Other">Other</option>
        </select>
        <span class="bc-select__arrow">
            

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
        </span>
    </div>
</div>
                </div>  
            </div>

            <div class="bc-button-row fs-!-margin-top-8">
                








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Return to basket</span>
</button>
            
                








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary" name="testName" value="testValue"

		type="submit"
	>
		<span class="bc-button__label">Continue to payment</span>
</button>
            </div>
		
</form>

	</div>


                            </main>
                            <aside class="it-right-sidebar__sidebar">
                                
    
    

	<div class="ip-billing__cart">
        <div class="ip-billing__cart-items">
           




<div 
    data-module="bc-cart" 
    class="bc-cart" data-position="sidebar"
>
    <ul class="bc-cart__list">
            <li class="bc-cart__item">
                    <div class="bc-cart__item-inner">
                        <p class="bc-cart__item-name">Discussion of the CIArb Guidelines on Expert Witness Conferences</p>
                    </div>
                
                    <div class="bc-cart__item-total">
                        <p class="bc-cart__item-price">£30</p> 
                        
                            








	<button
	data-module="bc-button"
	class="bc-button bc-cart__item-remove" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Remove</span>
</button>
                        
                    </div>
                
            </li>
            <li class="bc-cart__item">
                    <div class="bc-cart__item-inner">
                        <p class="bc-cart__item-name">Roebuck Lecture 2022 delivered by the Rt. Hon. Sir Geoffrey Vos</p>
                    </div>
                
                    <div class="bc-cart__item-total">
                        <p class="bc-cart__item-price">£5</p> 
                        
                            








	<button
	data-module="bc-button"
	class="bc-button bc-cart__item-remove" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Remove</span>
</button>
                        
                    </div>
                
            </li>
            <li class="bc-cart__item">
                    <div class="bc-cart__item-inner">
                        <p class="bc-cart__item-name">Student CIArb Membership</p>
                    </div>
                
                    <div class="bc-cart__item-total">
                        <p class="bc-cart__item-price">£XX</p> 
                        
                            








	<button
	data-module="bc-button"
	class="bc-button bc-cart__item-remove" data-appearance="link"

		type="submit"
	>
		<span class="bc-button__label">Remove</span>
</button>
                        
                    </div>
                
            </li>
    </ul>
</div>
        </div>
        <div class="ip-billing__cart-summary">
            <div class="ip-billing__cart-summary-inner__tax">
                <p>Tax</p>
                <p class="ip-billing__amount">£5</p>
            </div>
              <div class="ip-billing__cart-summary-inner">
                <p>Total</p>
                <p class="ip-billing__amount">£35</p>
            </div>
        </div>
	</div>
    <div class="ip-billing__cart-notification">
        






<div
    data-module="bc-alert"
    class="bc-alert">
    <span class="bc-alert__icon bc-alert--circle-exclamation">
            

<i 
    class="bc-icon fa-regular fa-exclamation"
>
</i>
    </span>
        <div
    class="bc-prose bc-alert__body">
    
            
            <p>Your basket contains a mix of one-off purchases and recurring payments. Payment details for these will be entered separately.</p>
        
        
</div>

</div>

    </div>


                            </aside>
                        </article>
                    
                </div>
            </div>
        </div>
    </div>

        </main>
        
        





<footer data-module="bc-footer" class="bc-footer"
>
    <div class="bc-container">
        <div class="bc-container__inner">
            <div class="bc-footer__top-tier">
                <img
    data-module="bc-logo"
    class="bc-logo"
    alt="Ciarb Crest"
	src="/images/ciarb-crest.svg">

                <nav class="bc-footer__navigation">
                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                </nav>
            </div>

            

<ul
    data-module="bc-list" data-style="socials-inline"
    class="bc-list bc-footer__social-media">
    
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-facebook-f"></i>
                        <span class="sr-only">Facebook</span>
                    </a>	
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-twitter"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-instagram"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-youtube"></i>
                        <span class="sr-only">Youtube</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-linkedin-in"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
            
</ul>

        
            <div class="bc-footer__copyright">
                <p class="bc-footer__copyright-copy">
                    The Chartered Institute of Arbitrators, 12 Bloomsbury Square, London, WC1A 2LP<br>
                    UK A charity incorporated by Royal Charter and registered at the Charity Commission of England and Wales under number 803725
                </p>
            
                <div class="bc-footer__copyright-links">
                    <a href="#" title="">Privacy Policy</a>
                    <a href="#" title="">Terms and Conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>


    <script>

        function newAddress() {
        
            var $radiosShipping = document.querySelectorAll('input[type=radio][name="ShippingAddressSelection"]');
            var $containerNewShipAddress = document.getElementById('ip-contact-information__new-address');

            var $radiosBilling = document.querySelectorAll('input[type=radio][name="BillingAddressSelection"]');
            var $containerNewBillAddress = document.getElementById('ip-contact-information__new-address-billing');

            var containerTypeShipping = 'shipping';
            var containerTypeBilling = 'billing';

            // caching variables for required elements
            var $childrenElementsShipping;
            var $childrenElementsBilling;

            // runs on page-load only to setup the correct state.
            toggleChildren($containerNewShipAddress, '', containerTypeShipping);
            toggleChildren($containerNewBillAddress, '', containerTypeBilling);

            // Set up change listeners
            $radiosShipping.forEach(radio => {
                radio.addEventListener('change', function() {
                    toggleContainer($containerNewShipAddress, radio.value);
                    toggleChildren($containerNewShipAddress, radio.value, containerTypeShipping);
                });
            });

            $radiosBilling.forEach(radio => {
                radio.addEventListener('change', function() {
                    toggleContainer($containerNewBillAddress, radio.value);
                    toggleChildren($containerNewBillAddress, radio.value, containerTypeBilling);
                });
            });

            // show/hide relevant new address container
            function toggleContainer(container, radioValue) {
                radioValue !== 'UseProfile'
                    ? container.style.display = 'block'
                    : container.style.display = 'none';
            }
            
            // toggle required attributes on elements that have them
            function toggleChildren(container, radioValue, containerType) {
                if (container) {

                    if (!$childrenElementsShipping && containerType === containerTypeShipping) {
                        $childrenElementsShipping = container.querySelectorAll('input[required], select[required]');
                    }

                    if (!$childrenElementsBilling && containerType === containerTypeBilling) {
                        $childrenElementsBilling = container.querySelectorAll('input[required], select[required]');
                    }

                    if (containerType === containerTypeShipping) {
                        $childrenElementsShipping.forEach(child => {
                            radioValue !== 'UseProfile'
                                ? child.setAttribute("required", "")
                                : child.removeAttribute("required");
                        });
                    }
                    
                    if (containerType === containerTypeBilling) {
                        $childrenElementsBilling.forEach(child => {
                            radioValue !== 'UseProfile'
                                ? child.setAttribute("required", "")
                                : child.removeAttribute("required");
                        });
                    }
                }
            }
        }
        
        window.addEventListener("DOMContentLoaded", () => {
            newAddress();
        })

    </script>




    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
