

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	





<div class="wrapper">
    <div class="site"> 
    
        
    
        







<header id="master-header" data-module="bc-header" class="bc-header">
   <div class="bc-header__non-search">
      <a class="bc-header__logo-container-tablet" href="#" title="">
         <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

      </a>
      <button type="button" class="bc-header__nav-toggle" id="burger">
         Menu
         <span class="bc-header__nav-toggle-icon">
            

<i 
    class="bc-icon fa-regular fa-bars"
>
</i>
         </span>
      </button>
      <a class="bc-header__logo-container_mobile" href="#" title="">
         <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

      </a>
      <div class="bc-header__main-menu-container" id="navbar">
         <ul class="bc-header__main-menu">
            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        About us
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Join ciarb
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Training
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Network & communities
                     </span>
                  </a>
               </div>
            </li>
               <li class="bc-header__menu-item">
                  

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
                     <button class="bc-button bc-header__menu-item-text bc-header__menu-item-bold">
                        

<i 
    class="bc-icon fa-regular fa-user fs-!-margin-right-1"
>
</i> 
                        Login
                     </button>
                  
</form>

               </li>
         </ul>

         <div class="bc-button-row">
            <a class="bc-header__contact-link" href="#" title="">Contact us</a>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Join CIArb</span>
</a>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="secondary"

		href="#"
	>
		<span class="bc-button__label">Member directory</span>
</a>
         </div>

      </div>
      
      <a class="bc-header__contact-link hide-on-mobile" href="#" title="">Contact us</a>
      


  







	<a
	data-module="bc-button"
	class="bc-button bc-header__navbar-members" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Join us</span>
</a>
      


  







	<a
	data-module="bc-button"
	class="bc-button bc-header__navbar-members" data-appearance="secondary"

		href="#"
	>
		<span class="bc-button__label">Member directory</span>
</a>
         

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
            <button class="bc-header__navbar-user">
               

<i 
    class="bc-icon fa-regular fa-arrow-right-to-bracket fs-!-margin-right-1"
>
</i>
               Login / Register
            </button>
         
</form>

      

      <button class="bc-header__navbar-cart">
         

<i 
    class="bc-icon fa-regular fa-basket-shopping"
>
</i>
         <span class="sr-only">Basket</span>
      </button>
      <button class="bc-header__navbar-search" data-toggle-search>
         

<i 
    class="bc-icon fa-regular fa-magnifying-glass"
>
</i>
         <span class="sr-only">Search</span>
      </button>
      <div class="bc-header__search bc-header__search-desktop">
         

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
            



<div class="bc-form-row">
    <label class="bc-label" for="search">
        
    </label>
        
            
            <input
    class="bc-input bc-header__search_input"
    id="search"
    name="search" placeholder="Type to search" required

                type="text">
        
</div>
            








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Search</span>
</button>
         
</form>


         <button class="bc-header__search-close" data-toggle-search>
            

<i 
    class="bc-icon fa-regular fa-times"
>
</i>
            <span class="sr-only">Close search</span>
         </button>
      </div>
      <div class="bc-header__quick-nav">
         <a class="bc-header__logo-container" href="#" title="">
            <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

         </a>
         <ul class="bc-header__quick-nav-menu">
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  About us
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>
               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 4</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 5</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 6</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 7</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 8</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 9</a>
                  </li>
               </ul>
            </li>
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Join ciarb
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Training
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" aria-current="page">
                  Network & communities
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Resolve disputes
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>

            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               
               <a href="#" title="">
                  News & insights
                   <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

            </li>

         </ul>
      </div>
   </div>

   <div class="bc-header__search bc-header__search-mobile">
      

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
         



<div class="bc-form-row">
    <label class="bc-label" for="search">
        
    </label>
        
            
            <input
    class="bc-input bc-header__search_input"
    id="search"
    name="search" placeholder="Type to search" required

                type="text">
        
</div>
         








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Search</span>
</button>
      
</form>


      <button class="bc-header__search-close" data-toggle-search>
         

<i 
    class="bc-icon fa-regular fa-times"
>
</i>
         <span class="sr-only">Close search</span>
      </button>

   </div>
</header>

        <main id="content">
            <div class="bc-container"> 
                <div class="bc-container__inner"> 
                    
	
<nav
	data-module="bc-breadcrumbs"
	aria-label="Breadcrumb"
	class="bc-breadcrumbs"
>
	<ul class="bc-breadcrumbs__list">
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="/"
				>Home</a>
			</li>
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="#" aria-current="page"
				>My profile</a>
			</li>
	</ul>
</nav>


                </div>
            </div>
            
            
    
    <div class="it-left-sidebar">
        <div class="it-left-sidebar__inner">
            <div class="bc-container">
                <div class="bc-container__inner">
                    
                        <article class="it-left-sidebar__document">
                            <aside class="it-left-sidebar__sidebar">
                                
	

	


<nav data-module="bc-sub-nav" aria-label="Account navigation" class="bc-sub-nav">
    <ul class="bc-sub-nav__list">
            <li class="bc-sub-nav__item" aria-current="true" >
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#" aria-current="true" >
                        <span>
                            My dashboard
                        </span>
                    </a>
                        <a href="#" aria-current="true" >
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Account Details
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Professional profile
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Membership &amp; billing
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Purchase history
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            My booked events
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            My courses
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            My resource library
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Communication preferences
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Visit the LMS
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
    </ul>
</nav>


                            </aside>
                            <main class="it-left-sidebar__body">
                                
	
	
	
	
	
	

	<div class="ip-my-dashboard empty-state">
		



<h1
  class="bc-heading bc-heading--jumbotron"
>
    My profile
</h1>


		<div
    data-module="bc-grid"
    class="bc-grid ip-my-dashboard__section" data-size="1/1">
    
			



<article
	data-module="bc-card"
	class="bc-card avatar-wrapper"
>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
				<div
    class="bc-prose avatar-btn">
    
					
					








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">View membership &amp; billing</span>
</button>
					








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="secondary"

		type="submit"
	>
		<span class="bc-button__label">Upgrade membership</span>
</button>
				
</div>

				<div
    class="bc-prose avatar-container profile-info">
    
					<div class="profile-info">
						



<h2
  class="bc-heading bc-heading--title"
>
    Welcome Michelle
</h2>

						<p class="member-id">Member ID: 
							<span class="member-id-data">120301</span>
						</p>
						<p class="membership-grade">Membership Grade:
							<span class="membership-grade-data">Associate</span>
						</p>
						<p class="membership-status">Membership Status:
							<span class="membership-status-data">12/12/2023</span>
						</p>
					</div>
				
</div>

				<div
    class="bc-prose bc-card--profile-prose">
    
					

<div
	data-module="bc-avatar"
	class="bc-avatar bc-avatar--medium"
>
	<img
		class="bc-avatar__image"
		alt="Jane Doe"
		src="https://images.unsplash.com/photo-1595085610896-fb31cfd5d4b7?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=867&amp;q=80"
	>
</div>

				
</div>

			
                </div>
        </div>
</article>

			
			<div
    data-module="bc-grid"
    class="bc-grid" data-size="1/2">
    
				







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card my-account-settings profile-options ">
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Account settings
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
					
				
                            </div>
                    </div>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                </article>
                </a>
				







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card my-professional-profile profile-options ">
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Professional profile
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
					
				
                            </div>
                    </div>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                </article>
                </a>
			
</div>
			

			



<article
	data-module="bc-card"
	class="bc-card"
>
				<header class="bc-card__header">
					



<h2
  class="bc-heading bc-heading--title"
>
    My branches
</h2>

				</header>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
				<div
    class="bc-prose">
    
					<p>You have no branch. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				
</div>

			
                </div>
                <footer class="bc-card__action">
                    


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Find a branch</span>
</a>
                </footer>
        </div>
</article>
		
</div>

		<div
    data-module="bc-grid"
    class="bc-grid ip-my-dashboard__section fs-!-margin-top-4" data-size="1/2">
    
			



<article
	data-module="bc-card"
	class="bc-card" data-size="1/2"
>
				<header class="bc-card__header">
					



<h2
  class="bc-heading bc-heading--title"
>
    My events
</h2>

				</header>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
				<div
    class="bc-prose">
    
					<p>No booked events. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				
</div>

			
                </div>
                <footer class="bc-card__action">
                    


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Find a event</span>
</a>
                </footer>
        </div>
</article>
			



<article
	data-module="bc-card"
	class="bc-card" data-size="1/2"
>
				<header class="bc-card__header">
					



<h2
  class="bc-heading bc-heading--title"
>
    My courses
</h2>

				</header>
        <div class="bc-card__inner">
                <div class="bc-card__body">
                    
				<div
    class="bc-prose">
    
					<p>No booked events. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				
</div>

			
                </div>
                <footer class="bc-card__action">
                    


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Find a course</span>
</a>
                </footer>
        </div>
</article>
		
</div>

	</div>


                            </main>
                        </article>
                    
                </div>
            </div>
            
	
	
	

	<div class="ip-my-dashboard__recommends">
		<div class="bc-container">
			<div class="bc-container__inner">
				<div class="ip-my-dashboard__recommends-intro">
					



<h2
  class="bc-heading bc-heading--title"
>
    ciarb recommends
</h2>

					<div
    class="bc-prose">
    
					<p>
							Specially curated content tailored to your discipline and professional profile
						</p>
					
</div>

					<a class="bc-link__more" href="#">
						Manage my profile
						<i class="bc-icon fa-regular fa-arrow-right"></i>
					</a>
				</div>
				<div class="ip-my-dashboard__events">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Upcoming events
</h3>

					<div
    data-module="bc-grid"
    class="bc-grid ip-my-dashboard__events" data-size="1/3">
    
					







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                        <div class="bc-event-card__media">
                            

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="../../images/temp/event-temp-background.png"
	>
</div>

                        </div>
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Navigating sanctions: what are the ethical responsibilities of dispute resolvers?
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
					
					
                            </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2022
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                    </div>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                </article>
                </a>
					







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                        <div class="bc-event-card__media">
                            

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="../../images/temp/event-temp-background.png"
	>
</div>

                        </div>
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Western Counties Branch half day ADR conference
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
					
					
                            </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2022
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                    </div>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                </article>
                </a>
					







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card bc-event-card--with-image">
                        <div class="bc-event-card__media">
                            

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt=""
		src="../../images/temp/event-temp-background.png"
	>
</div>

                        </div>
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Loss of productivity claims in construction
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
					
					
                            </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2022
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                    </div>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                </article>
                </a>
					
</div>
					
					<a class="bc-link__more" href="#">
						Find an event
						<i class="bc-icon fa-regular fa-arrow-right"></i>
					</a>
				</div>
				<div class="ip-my-dashboard__courses">
					



<h3
  class="bc-heading bc-heading--subtitle"
>
    Courses for you
</h3>

					<div
    data-module="bc-grid"
    class="bc-grid" data-size="1/3">
    
					







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card">
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Online Introduction to ADR Assessment
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
					
					
                            </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    Online
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Type</span>
                                                

<i 
    class="bc-icon fa-regular fa-graduation-cap"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    Hybrid
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                    </div>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                </article>
                </a>
					







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card">
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Online Introduction to ADR Assessment
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
					
					
                            </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    Online
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Type</span>
                                                

<i 
    class="bc-icon fa-regular fa-graduation-cap"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    Hybrid
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                    </div>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                </article>
                </a>
					







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card">
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Online Introduction to ADR Assessment
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
					
					
                            </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    Online
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Type</span>
                                                

<i 
    class="bc-icon fa-regular fa-graduation-cap"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    Hybrid
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                    </div>
                        

<i 
    class="bc-icon fa-regular fa-arrow-right"
>
</i>
                </article>
                </a>
					
</div>
					
					<a class="bc-link__more" href="#">
						Find a course
						<i class="bc-icon fa-regular fa-arrow-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bc-container ip-my-dashboard__news">
		<div class="bc-container__inner">
			






<div
    data-module="bc-news"
    class="bc-news">
		



<h3
  class="bc-heading bc-heading--subtitle"
>
    News &amp; insights
</h3>


	<div class="bc-news__grid">
			<a href="#" class="bc-news-card bc-news-card--featured ">
					

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Branch focus: UAE"
		src="/images/temp/membership-types.jpg"
	>
</div>

				<div class="bc-news-card__content">
					<header class="bc-news-card__header">
							<p class="bc-news-card__category">Category tag</p>
						



<h3
  class="bc-heading bc-heading--subtitle"
>
    Branch focus: UAE
</h3>

					</header>
					
						<div
    class="bc-prose bc-news-card__body">
    
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						
</div>

				</div>
			</a>
			<a href="#" class="bc-news-card  ">
					

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="ciarb&#39;s diversity in ADR strategy"
		src="/images/temp/membership-types.jpg"
	>
</div>

				<div class="bc-news-card__content">
					<header class="bc-news-card__header">
							<p class="bc-news-card__category">Category tag</p>
						



<h3
  class="bc-heading bc-heading--subtitle"
>
    ciarb&#39;s diversity in ADR strategy
</h3>

					</header>
						
						<div class="bc-news-card__date">25th  July 2022</div>
					
				</div>
			</a>
			<a href="#" class="bc-news-card  ">
					

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Arbitration week 2022 - review"
		src="/images/temp/membership-types.jpg"
	>
</div>

				<div class="bc-news-card__content">
					<header class="bc-news-card__header">
							<p class="bc-news-card__category">Category tag</p>
						



<h3
  class="bc-heading bc-heading--subtitle"
>
    Arbitration week 2022 - review
</h3>

					</header>
						
						<div class="bc-news-card__date">25th  July 2022</div>
					
				</div>
			</a>
			<a href="#" class="bc-news-card  ">
					

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Arbitration week 2022 - review"
		src="/images/temp/membership-types.jpg"
	>
</div>

				<div class="bc-news-card__content">
					<header class="bc-news-card__header">
							<p class="bc-news-card__category">Category tag</p>
						



<h3
  class="bc-heading bc-heading--subtitle"
>
    ciarb mentoring programme
</h3>

					</header>
						
						<div class="bc-news-card__date">25th  July 2022</div>
					
				</div>
			</a>
	

	</div>

	
		
		<a class="bc-news__link" href="#">All news

<i 
    class="bc-icon fa-regular fa-arrow-right bc-news__link-icon"
>
</i>
		</a>
	

</div>
		</div>
	</div>

        </div>
    </div>

        </main>
        
        





<footer data-module="bc-footer" class="bc-footer"
>
    <div class="bc-container">
        <div class="bc-container__inner">
            <div class="bc-footer__top-tier">
                <img
    data-module="bc-logo"
    class="bc-logo"
    alt="Ciarb Crest"
	src="/images/ciarb-crest.svg">

                <nav class="bc-footer__navigation">
                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                </nav>
            </div>

            

<ul
    data-module="bc-list" data-style="socials-inline"
    class="bc-list bc-footer__social-media">
    
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-facebook-f"></i>
                        <span class="sr-only">Facebook</span>
                    </a>	
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-twitter"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-instagram"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-youtube"></i>
                        <span class="sr-only">Youtube</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-linkedin-in"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
            
</ul>

        
            <div class="bc-footer__copyright">
                <p class="bc-footer__copyright-copy">
                    The Chartered Institute of Arbitrators, 12 Bloomsbury Square, London, WC1A 2LP<br>
                    UK A charity incorporated by Royal Charter and registered at the Charity Commission of England and Wales under number 803725
                </p>
            
                <div class="bc-footer__copyright-links">
                    <a href="#" title="">Privacy Policy</a>
                    <a href="#" title="">Terms and Conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>






    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
