

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	





<div class="wrapper">
    <div class="site"> 
    
        
    
        







<header id="master-header" data-module="bc-header" class="bc-header">
   <div class="bc-header__non-search">
      <a class="bc-header__logo-container-tablet" href="#" title="">
         <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

      </a>
      <button type="button" class="bc-header__nav-toggle" id="burger">
         Menu
         <span class="bc-header__nav-toggle-icon">
            

<i 
    class="bc-icon fa-regular fa-bars"
>
</i>
         </span>
      </button>
      <a class="bc-header__logo-container_mobile" href="#" title="">
         <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

      </a>
      <div class="bc-header__main-menu-container" id="navbar">
         <ul class="bc-header__main-menu">
            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        About us
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Join ciarb
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Training
                     </span>
                  </a>
                  <span class="bc-header__menu-item-toggle" data-toggle="bc-header__menu-item-sub-menu">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </div>

               <ul class="bc-header__menu-item-sub-menu">
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
                  <li class="bc-header__menu-item">
                     <a href="#" title="">Nav link</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__menu-item bc-header__menu-item-has-children">   
               <div>
                  <a href="#" title="">
                     <span class="bc-header__menu-item-text">
                        Network & communities
                     </span>
                  </a>
               </div>
            </li>
               <li class="bc-header__menu-item">
                  

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
                     <button class="bc-button bc-header__menu-item-text bc-header__menu-item-bold">
                        

<i 
    class="bc-icon fa-regular fa-user fs-!-margin-right-1"
>
</i> 
                        Login
                     </button>
                  
</form>

               </li>
         </ul>

         <div class="bc-button-row">
            <a class="bc-header__contact-link" href="#" title="">Contact us</a>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Join CIArb</span>
</a>
            


  







	<a
	data-module="bc-button"
	class="bc-button" data-appearance="secondary"

		href="#"
	>
		<span class="bc-button__label">Member directory</span>
</a>
         </div>

      </div>
      
      <a class="bc-header__contact-link hide-on-mobile" href="#" title="">Contact us</a>
      


  







	<a
	data-module="bc-button"
	class="bc-button bc-header__navbar-members" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">Join us</span>
</a>
      


  







	<a
	data-module="bc-button"
	class="bc-button bc-header__navbar-members" data-appearance="secondary"

		href="#"
	>
		<span class="bc-button__label">Member directory</span>
</a>
         

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
            <button class="bc-header__navbar-user">
               

<i 
    class="bc-icon fa-regular fa-arrow-right-to-bracket fs-!-margin-right-1"
>
</i>
               Login / Register
            </button>
         
</form>

      

      <button class="bc-header__navbar-cart">
         

<i 
    class="bc-icon fa-regular fa-basket-shopping"
>
</i>
         <span class="sr-only">Basket</span>
      </button>
      <button class="bc-header__navbar-search" data-toggle-search>
         

<i 
    class="bc-icon fa-regular fa-magnifying-glass"
>
</i>
         <span class="sr-only">Search</span>
      </button>
      <div class="bc-header__search bc-header__search-desktop">
         

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
            



<div class="bc-form-row">
    <label class="bc-label" for="search">
        
    </label>
        
            
            <input
    class="bc-input bc-header__search_input"
    id="search"
    name="search" placeholder="Type to search" required

                type="text">
        
</div>
            








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Search</span>
</button>
         
</form>


         <button class="bc-header__search-close" data-toggle-search>
            

<i 
    class="bc-icon fa-regular fa-times"
>
</i>
            <span class="sr-only">Close search</span>
         </button>
      </div>
      <div class="bc-header__quick-nav">
         <a class="bc-header__logo-container" href="#" title="">
            <img
    data-module="bc-logo"
    class="bc-logo"
    alt="CIArb Logo Hero"
	src="/images/ciarb_logo.svg">

         </a>
         <ul class="bc-header__quick-nav-menu">
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  About us
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>
               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 4</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 5</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 6</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 7</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 8</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 9</a>
                  </li>
               </ul>
            </li>
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Join ciarb
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>
            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Training
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" aria-current="page">
                  Network & communities
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>
            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               <a href="#" title="">
                  Resolve disputes
                  <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

               <ul class="bc-header__quick-nav-menu-item-sub-menu">
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 1</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 2</a>
                  </li>
                  <li class="bc-header__quick-nav-sub-menu-item">
                     <a href="#" title="">Nav link 3</a>
                  </li>
               </ul>

            </li>

            <li class="bc-header__quick-nav-menu-item bc-header__quick-nav-menu-item-has-children">
               
               <a href="#" title="">
                  News & insights
                   <span class="bc-header__menu-item-toggle">
                     

<i 
    class="bc-icon fa-regular fa-chevron-down"
>
</i>
                  </span>
               </a>

            </li>

         </ul>
      </div>
   </div>

   <div class="bc-header__search bc-header__search-mobile">
      

<form
    data-module="bc-form"
    class="bc-form"
    action=""
    method="get" data-do-not-prompt-unload>
    
         



<div class="bc-form-row">
    <label class="bc-label" for="search">
        
    </label>
        
            
            <input
    class="bc-input bc-header__search_input"
    id="search"
    name="search" placeholder="Type to search" required

                type="text">
        
</div>
         








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Search</span>
</button>
      
</form>


      <button class="bc-header__search-close" data-toggle-search>
         

<i 
    class="bc-icon fa-regular fa-times"
>
</i>
         <span class="sr-only">Close search</span>
      </button>

   </div>
</header>

        <main id="content">
            <div class="bc-container"> 
                <div class="bc-container__inner"> 
                    
	
<nav
	data-module="bc-breadcrumbs"
	aria-label="Breadcrumb"
	class="bc-breadcrumbs"
>
	<ul class="bc-breadcrumbs__list">
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="/"
				>Home</a>
			</li>
			<li class="bc-breadcrumbs__item">
				<a
					class="bc-breadcrumbs__link"
					href="#" aria-current="page"
				>My courses</a>
			</li>
	</ul>
</nav>


                </div>
            </div>
            
            
    
    <div class="it-left-sidebar">
        <div class="it-left-sidebar__inner">
            <div class="bc-container">
                <div class="bc-container__inner">
                    
                        <article class="it-left-sidebar__document">
                            <aside class="it-left-sidebar__sidebar">
                                
	

	


<nav data-module="bc-sub-nav" aria-label="Account navigation" class="bc-sub-nav">
    <ul class="bc-sub-nav__list">
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            My profile
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            My events
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item" aria-current="true" >
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#" aria-current="true" >
                        <span>
                            My courses
                        </span>
                    </a>
                        <a href="#" aria-current="true" >
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Membership &amp; billing
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Profile details
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Communication preferences
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
    </ul>
</nav>


                            </aside>
                            <main class="it-left-sidebar__body">
                                
	
	
	
	

	<div class="ip-my-courses">
		



<h1
  class="bc-heading bc-heading--jumbotron"
>
    Courses
</h1>


		<div
    data-module="bc-grid"
    class="bc-grid" data-size="1/1">
    

			



<h2
  class="bc-heading bc-heading--title"
>
    You have booked 2 courses
</h2>

			
			







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card bc-event-card--single-column">
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Discussion of the CIArb Guidelines on Expert Witness Conferences
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
			<div
    class="bc-prose">
    
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			
</div>

			
                            </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2022
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Time</span>
                                                

<i 
    class="bc-icon fa-regular fa-clock-seven"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    10:00 GMT GMT
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Price</span>
                                                

<i 
    class="bc-icon fa-regular fa-sterling-sign"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    XXX
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                            <footer class="bc-event-card__cta">
                                


  







	<a
	data-module="bc-button"
	class="bc-button fs-!-margin-top-4 fs-!-margin-right-3" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">View details</span>
</a>
                            </footer>
                    </div>
                </article>
                </a>

			







                <a class="bc-event-card__link" href="#">
                <article data-module="bc-event-card" class="bc-event-card bc-event-card--single-column">
                    <div class="bc-event-card__body">
                            <header class="bc-event-card__header">
                                



<h3
  class="bc-heading bc-heading--subtitle"
>
    Discussion of the CIArb Guidelines on Expert Witness Conferences
</h3>

                            </header>
                            <div class="bc-event-card__main">
                                
			<div
    class="bc-prose">
    
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			
</div>

			
                            </div>
                            <div class="bc-event-card__toolbar">
                                <dl class="bc-description-list">
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Date</span>
                                                

<i 
    class="bc-icon fa-regular fa-calendar"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                <time>
                                                    Thu, 30 June 2022
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Time</span>
                                                

<i 
    class="bc-icon fa-regular fa-clock-seven"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    10:00 GMT GMT
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Location</span>
                                                

<i 
    class="bc-icon fa-regular fa-location-pin"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    London, UK
                                                </time>
                                            </dd>
                                        </div>
                                        <div class="bc-description-list__item">
                                            <dt class="bc-description-list__key">
                                                <span class="sr-only">Price</span>
                                                

<i 
    class="bc-icon fa-regular fa-sterling-sign"
>
</i>
                                            </dt>
                                            <dd class="bc-description-list__value">
                                                
                                                <time>
                                                    XXX
                                                </time>
                                            </dd>
                                        </div>
                                </dl>
                            </div>
                            <footer class="bc-event-card__cta">
                                


  







	<a
	data-module="bc-button"
	class="bc-button fs-!-margin-top-4 fs-!-margin-right-3" data-appearance="primary"

		href="#"
	>
		<span class="bc-button__label">View details</span>
</a>
                            </footer>
                    </div>
                </article>
                </a>

		
</div>

		<div class="ip-my-courses__past-courses">
			



<h2
  class="bc-heading bc-heading--title"
>
    Past courses
</h2>


			<div
    class="bc-prose">
    
				<p>Looks like you haven’t attended any!</p>
				<p>Get started on finding an exciting event near you.</p>
			
</div>


			








	<button
	data-module="bc-button"
	class="bc-button" data-appearance="primary"

		type="submit"
	>
		<span class="bc-button__label">Find an event</span>
</button>
		</div>
	</div>


                            </main>
                        </article>
                    
                </div>
            </div>
            
        </div>
    </div>

        </main>
        
        





<footer data-module="bc-footer" class="bc-footer"
>
    <div class="bc-container">
        <div class="bc-container__inner">
            <div class="bc-footer__top-tier">
                <img
    data-module="bc-logo"
    class="bc-logo"
    alt="Ciarb Crest"
	src="/images/ciarb-crest.svg">

                <nav class="bc-footer__navigation">
                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                    

<ul
    data-module="bc-list"
    class="bc-list bc-footer__nav-list">
    
                        <li>
                            <a class="bc-footer__nav-list-title" href="#" title="">Main Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                        <li>
                            <a href="#" title="">Link</a>
                        </li>
                    
</ul>

                </nav>
            </div>

            

<ul
    data-module="bc-list" data-style="socials-inline"
    class="bc-list bc-footer__social-media">
    
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-facebook-f"></i>
                        <span class="sr-only">Facebook</span>
                    </a>	
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-twitter"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-instagram"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-youtube"></i>
                        <span class="sr-only">Youtube</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="fa-brands fa-linkedin-in"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
            
</ul>

        
            <div class="bc-footer__copyright">
                <p class="bc-footer__copyright-copy">
                    The Chartered Institute of Arbitrators, 12 Bloomsbury Square, London, WC1A 2LP<br>
                    UK A charity incorporated by Royal Charter and registered at the Charity Commission of England and Wales under number 803725
                </p>
            
                <div class="bc-footer__copyright-links">
                    <a href="#" title="">Privacy Policy</a>
                    <a href="#" title="">Terms and Conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>






    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
