

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	



<div
    data-module="bc-step-indicator"
    class="bc-step-indicator">
    <div class="bc-step-indicator__step step--1 active">
        <div class="bc-step-indicator__step-number">1</div>
        <div class="bc-step-indicator__body">
            <p><strong>Step 1</strong></p>
            <p>Basket</p>
        </div> 
    </div>
    <div class="bc-step-indicator__line active"></div>
    <div class="bc-step-indicator__step step--2">
        <div class="bc-step-indicator__step-number">2</div>
        <div class="bc-step-indicator__body">
            <p><strong>Step 2</strong></p>
            <p>Billing</p>
        </div> 
    </div>
    <div class="bc-step-indicator__line"></div>
    <div class="bc-step-indicator__step step--3">
        <div class="bc-step-indicator__step-number">3</div>
        <div class="bc-step-indicator__body">
            <p><strong>Step 3</strong></p>
            <p>Gift aid</p>
        </div> 
    </div>
    <div class="bc-step-indicator__line"></div>
    <div class="bc-step-indicator__step step--4">
        <div class="bc-step-indicator__step-number">4</div>
        <div class="bc-step-indicator__body">
            <p><strong>Step 4</strong></p>
            <p>Payment</p>
        </div> 
    </div>
</div>   

    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
