

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	



<div class="bc-form-row">
    <label class="bc-label" for="ExampleStepper">
        Quantity
            <span class="bc-label__optional">(optional)</span>
    </label>
    <div
        data-module="bc-stepper"
        class="bc-stepper">
        <input 
            class="bc-stepper__input"
            type="number"
            id="ExampleStepper"
            name="ExampleStepper"
            value="0"
            min="0"
            step="1"
            required max="5">
    </div>
</div>


    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
