

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	



<nav data-module="bc-sub-nav" aria-label="Account navigation" class="bc-sub-nav">
    <ul class="bc-sub-nav__list">
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            My profile
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            My events
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item" aria-active="true" >
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            My courses
                        </span>
                    </a>
                        

<i 
    class="bc-icon fa-regular fa- fa-minus sub-nav-trigger"
>
</i>
                        

<i 
    class="bc-icon fa-regular fa- fa-plus sub-nav-trigger"
>
</i>
                </div>
                    <ul class="bc-sub-nav__sub-list">
                            <li class="bc-sub-nav__sub-item">
                                <a class="bc-sub-nav__sub-link" href="#">
                                    <span>
                                        Secondary nav link 1
                                    </span>
                                </a>
                            </li>
                            <li class="bc-sub-nav__sub-item">
                                <a class="bc-sub-nav__sub-link" href="#" aria-current="true" >
                                    <span>
                                        Secondary nav link 2
                                    </span>
                                </a>
                            </li>
                            <li class="bc-sub-nav__sub-item">
                                <a class="bc-sub-nav__sub-link" href="#">
                                    <span>
                                        Secondary nav link 3
                                    </span>
                                </a>
                            </li>
                            <li class="bc-sub-nav__sub-item">
                                <a class="bc-sub-nav__sub-link" href="#">
                                    <span>
                                        Secondary nav link 4
                                    </span>
                                </a>
                            </li>
                    </ul>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Membership &amp; billing
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Profile details
                        </span>
                    </a>
                        

<i 
    class="bc-icon fa-regular fa- fa-minus sub-nav-trigger"
>
</i>
                        

<i 
    class="bc-icon fa-regular fa- fa-plus sub-nav-trigger"
>
</i>
                </div>
                    <ul class="bc-sub-nav__sub-list">
                            <li class="bc-sub-nav__sub-item">
                                <a class="bc-sub-nav__sub-link" href="#">
                                    <span>
                                        Secondary nav link 1
                                    </span>
                                </a>
                            </li>
                            <li class="bc-sub-nav__sub-item">
                                <a class="bc-sub-nav__sub-link" href="#">
                                    <span>
                                        Secondary nav link 2
                                    </span>
                                </a>
                            </li>
                    </ul>
            </li>
            <li class="bc-sub-nav__item">
                <div class="bc-sub-nav__control">
                    <a class="bc-sub-nav__link" href="#">
                        <span>
                            Communication preferences
                        </span>
                    </a>
                        <a href="#">
                            

<i 
    class="bc-icon fa-regular fa- fa-arrow-right"
>
</i>
                        </a>
                </div>
            </li>
    </ul>
</nav>
    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
