

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	




<dv class="bc-form-row">
    <div
        class="bc-switch">
        <div class="bc-switch__control">
            <input
                data-module="bc-switch"
                class="bc-switch__input"
                type="checkbox"
                id="switch"
                name="switch"
                value="on">
            <span class="bc-switch__track" aria-hidden="true">
                <span class="bc-switch__indicator"></span>
            </span>
        </div>
        <label
            class="bc-switch__label"
            for="switch">Toggle switch</label>
        
    </div>
</div>





<dv class="bc-form-row">
    <div
        class="bc-switch">
        <div class="bc-switch__control">
            <input
                data-module="bc-switch"
                class="bc-switch__input"
                type="checkbox"
                id="switch-checked"
                name="switch"
                value="on" checked>
            <span class="bc-switch__track" aria-hidden="true">
                <span class="bc-switch__indicator"></span>
            </span>
        </div>
        <label
            class="bc-switch__label"
            for="switch-checked">Pre-checked toggle switch</label>
        
    </div>
</div>



    
    


<dv class="bc-form-row">
    <div
        class="bc-switch">
        <div class="bc-switch__control">
            <input
                data-module="bc-switch"
                class="bc-switch__input"
                type="checkbox"
                id="switch-hint"
                name="switch"
                value="on" aria-describedby=" switch-hint-Hint">
            <span class="bc-switch__track" aria-hidden="true">
                <span class="bc-switch__indicator"></span>
            </span>
        </div>
        <label
            class="bc-switch__label"
            for="switch-hint">Toggle switch with a hint</label>
        
    </div>
</div>



    
    


<dv class="bc-form-row">
    <div
        class="bc-switch">
        <div class="bc-switch__control">
            <input
                data-module="bc-switch"
                class="bc-switch__input"
                type="checkbox"
                id="switch-error"
                name="switch"
                value="on" aria-describedby=" switch-error-Error" aria-invalid="true">
            <span class="bc-switch__track" aria-hidden="true">
                <span class="bc-switch__indicator"></span>
            </span>
        </div>
        <label
            class="bc-switch__label"
            for="switch-error">Toggle switch with an error</label>
        
            <div class="bc-error" id="switch-error-Error">
                An error relating to this input.
            </div>
        
    </div>
</div>





<dv class="bc-form-row">
    <div
        class="bc-switch">
        <div class="bc-switch__control">
            <input
                data-module="bc-switch"
                class="bc-switch__input"
                type="checkbox"
                id="switch-disabled"
                name="switch"
                value="on" disabled>
            <span class="bc-switch__track" aria-hidden="true">
                <span class="bc-switch__indicator"></span>
            </span>
        </div>
        <label
            class="bc-switch__label"
            for="switch-disabled">Disabled toggle switch</label>
        
    </div>
</div>





<dv class="bc-form-row">
    <div
        class="bc-switch">
        <div class="bc-switch__control">
            <input
                data-module="bc-switch"
                class="bc-switch__input"
                type="checkbox"
                id="switch-disabled"
                name="switch"
                value="on" checked disabled>
            <span class="bc-switch__track" aria-hidden="true">
                <span class="bc-switch__indicator"></span>
            </span>
        </div>
        <label
            class="bc-switch__label"
            for="switch-disabled">Disabled and pre-checked toggle switch</label>
        
    </div>
</div>





    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
