

<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/all.css">
		<script src="https://kit.fontawesome.com/5eb481ba8e.js" crossorigin="anonymous"></script>
		<script src="https://cc-cdn.com/generic/scripts/v1/cc_c2a.min.js"></script>
		<title>Preview</title>
  	</head>
  	<body>
		
    	



<div
    data-module="bc-grid"
    class="bc-grid" data-size="1/1">
    

	


<article
	data-module="bc-testimonial"
	class="bc-testimonial bc-testimonial--with-image "
>
    <div class="bc-testimonial__container">
            <div class="bc-testimonial__media">
                

<div
	data-module="bc-image"
	class="bc-image"
>
	<img
		class="bc-image__image"
		alt="Profile image"
		src="../../images/temp/testimonial-temp.png"
	>
</div>

            </div>
            <div class="bc-testimonial__body">
                



<h2
  class="bc-heading bc-heading--title"
>
    Join 1000&#39;s of members
</h2>

                
		<div
    class="bc-prose">
    
			<p>
				“Lorem ipsum dolor sit amet, consectetur adipisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.“
			</p>
		
</div>

	
                    <p class="bc-testimonial__details">Name, Job title</p>
            </div>
    </div>
</article>

	


<article
	data-module="bc-testimonial"
	class="bc-testimonial"
>
    <div class="bc-testimonial__container">
            <div class="bc-testimonial__body">
                



<h2
  class="bc-heading bc-heading--title"
>
    Join 1000&#39;s of members
</h2>

                
		<div
    class="bc-prose">
    
			<p>
				“Lorem ipsum dolor sit amet, consectetur adipisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.“
			</p>
		
</div>

	
                    <p class="bc-testimonial__details">Name, Job title</p>
            </div>
    </div>
</article>


</div>
    	
		<script src="../../js/all.js"></script>
		<script>
			window.bc.initAll();
		</script>
		
  	</body>
</html>
