{% extends '@t-right-sidebar' %}

{% block breadcrumbs %}
    {{ bcBreadcrumbs({
        items: [
            { text: 'Home', href: '/' },
            { text: 'Basket', href: '#', current: true }
        ]
    }) }}
{% endblock %}

{% block beforeTemplate %}
{% from "heading/macro.njk" import bcHeading %}
    {{ bcHeading({
        classes: 'fs-!-margin-bottom-6',
        hierarchy: 1,
        text: 'My basket'
    }) }}
{% endblock %}

{% block body %}
	{% from "cart/macro.njk" import bcCart %}
    {% from "heading/macro.njk" import bcHeading %}

	<div class="ip-basket">

        {{ bcCart({
            items: [
                    { 
                        name: 'Discussion of the CIArb Guidelines on Expert Witness Conferences',
                        details: 'Event',
                        price: '£30'
                    },
                    { 
                        name: 'Student: Introduction to ADR Online Course & Assessment',
                        price: '£5'
                    },
                    { 
                        name: 'Student CIArb Membership',
                        price: '£XX',
                        invoiced: true,
                        details: 'Membership'
                    }
            ]
        }) }}
		
	</div>

{% endblock %}

{% block sidebar %}
    {% from "heading/macro.njk" import bcHeading %}
    {% from "button/macro.njk" import bcButton %}
    {% from "input/macro.njk" import bcInput %}
    {% from "alert/macro.njk" import bcAlert %}

	<div class="ip-basket__summary">

        {{ bcHeading({
			hierarchy: 2,
			text: 'Summary'
		}) }}

        <div class="ip-basket__promo-box">
            {{ bcInput({
                name: 'ExampleInput',
                label: { text: 'Promo code' },
                required: true
            }) }}
            {{ bcButton({
                appearance: 'secondary',
                text: 'Redeem'
            }) }}
        </div>
        {% call bcAlert({
            variant: 'success'
        }) %}
            <p>VOUCHERNAME applied</p>
        {% endcall %}

        <div class="ip-basket__tax">
                <p>Tax</p>
                <p class="ip-billing__amount">£5</p>
            </div>
        <div class="ip-basket__totals">
            <div class="">
                {{ bcHeading({
                    hierarchy: 3,
                    text: 'Total to be invoiced'
                }) }}
                <p class="bc-label">£100</p>
            </div>
            <div class="">
                {{ bcHeading({
                    hierarchy: 3,
                    text: 'Total to be paid today'
                }) }}
                <p class="bc-label">£35</p>
            </div>
        </div>

        <div class="ip-basket__actions">
            {{ bcButton({
                classes: 'fs-!-margin-bottom-3',
                appearance: 'primary',
                text: 'Checkout'
            }) }}

            <a href="#" title="">Continue to checkout</a>
	    </div>
	</div>

    <div class="ip-basket__cart-notification">
        {% call bcAlert({
            variant: 'circle-exclamation'
        }) %}
            <p>Your basket contains a mix of one-off purchases and recurring payments. Payment details for these will be entered separately.</p>
        {% endcall %}
    </div>

{% endblock %}