{% extends '@t-centered' %}

{% block breadcrumbs %}
    {{ bcBreadcrumbs({
		items: [
			{ text: 'Home', href: '/' },
			{ text: 'Membership', href: '#' },
			{ text: 'Student membership', href: '#' },
			{ text: 'Apply to join ciarb', href: '#', current: true }
		]
	}) }}
{% endblock %}

{% block beforeTemplate %}
    {% from 'icon/macro.njk' import bcIcon %}

    <div data-module="bc-step-indicator" class="bc-step-indicator fs-!-margin-bottom-7">
        <div class="bc-step-indicator__step complete">
            <div class="bc-step-indicator__step-number">
                {{ bcIcon({
                    variant: 'check'
                }) }}
            </div>
            <div class="bc-step-indicator__body">
                <p>
                    <strong>Step 1</strong>
                </p>
                <p>Before you Start</p>
            </div>
        </div>
        <div class="bc-step-indicator__line complete"></div>
        <div class="bc-step-indicator__step" aria-current="step">
            <div class="bc-step-indicator__step-number">2</div>
            <div class="bc-step-indicator__body">
                <p>
                    <strong>Step 2</strong>
                </p>
                <p>Personal details</p>
            </div>
        </div>
        <div class="bc-step-indicator__line"></div>
        <div class="bc-step-indicator__step">
            <div class="bc-step-indicator__step-number">3</div>
            <div class="bc-step-indicator__body">
                <p>
                    <strong>Step 3</strong>
                </p>
                <p>Experience & qualifications</p>
            </div>
        </div>
        <div class="bc-step-indicator__line"></div>
        <div class="bc-step-indicator__step">
            <div class="bc-step-indicator__step-number">3</div>
            <div class="bc-step-indicator__body">
                <p>
                    <strong>Step 3</strong>
                </p>
                <p>Declaration</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="ip-join-declaration">
        {% from "heading/macro.njk" import bcHeading %}
        {% from "form/macro.njk" import bcForm %}
        {% from "checkbox/macro.njk" import bcCheckbox %}
        {% from "button/macro.njk" import bcButton %}

        {{ bcHeading({
			hierarchy: 1,
			text: 'Join ciarb'
		}) }}
        {{ bcHeading({
            classes: 'fs-!-margin-top-3',
			hierarchy: 2,
			text: 'Declaration'
		}) }}
        {% call bcForm({
			classes: 'fs-!-margin-top-0',
			action: '',
			method: '',
			disableUnloadPrompt: true
		}) %}
        {{ bcCheckbox({
            name: 'ExampleCheckboxSingle',
            options: [
                {
                    text: 'I declare that to the best of my knowledge, I have equivalent practical knowledge of what is listed in the syllabus of the CIArb Module 1 _Mediation Training & Assessment. The information given on this form is correct. I understand and agree that if I make any false statements or submit false information in this application, I will be subject to discipline pursuant to the constitutional documents and codes of ethics, which are subject to amendment from time to time.',
                    value: '1',
                    required: true
                }
            ]
        }) }}
        <div class="bc-button-group">
            {{ bcButton({
                classes: 'fs-!-margin-top-5',
                appearance: 'primary',
                type: 'submit',
                text: 'Add to basket',
                attributes: { 
                    'name': 'testName', 
                    'value': 'testValue' 
                }
            }) }}
            {{ bcButton({
                classes: 'fs-!-margin-top-3',
                appearance: 'secondary',
                type: 'submit',
                text: 'Previous',
                attributes: { 
                    'name': 'testName', 
                    'value': 'testValue' 
                }
            }) }}
            <a class="fs-!-margin-top-3" href="#" title="">Cancel</a>
        </div>
        {% endcall %}
    </div>
{% endblock %}