@use "@querkmachine/felafel/src/scss/settings";
@use "helpers/media-queries";

.ip-branch-details {
	.bc-heading--title {
		margin-bottom: 1rem;
	}
	.bc-hero-banner {
		min-height: 560px;
		.bc-hero {
			&__body {
				margin-top: 6rem;
			}
		}
	}
    .bc-news {
		margin-top: 1.5rem;
		@include media-queries.fs-mq($from: tablet) {
			margin-top: 3rem;
		}
        .bc-news__grid {
            grid-template-columns: 1fr;
        }
    }
	&__section {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		@include media-queries.fs-mq($from: tablet) {
			margin-top: 3rem;
		}
	}
	&__section-link {
		margin-left: auto;
		margin-top: 2rem;
	}
}
