{% from "blockquote/macro.njk" import bcBlockquote %}

{{ bcBlockquote({
    quotation: 'Pull out quote proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.',
    citeName: 'Name Surname',
    citeCompany: 'Organisation name'
}) }}
