

<blockquote class="bc-blockquote">
    <div class="bc-blockquote__inner">
      <p class="bc-blockquote__quotation">{{ params.quotation }}</p>
      <footer class="bc-blockquote__cite">
        <p class="bc-blockquote__cite-name">{{ params.citeName }}</p>
        <p class="bc-blockquote__cite-company">{{ params.citeCompany }}</p>
      </footer>
    </div>
</blockquote>


